[2015-07-19 22:46] adborden opened #6 "Election race API endpoint"
Endpoint returns a single election race entity which looks [something like this](https://drive.google.com/open?id=0B2fKtH2QvtcoMElyMmJjaWhIZFU).

cc @seanius

[2015-07-19 22:47] adborden opened #7 "Election API endpoint"
Returns an election entity `/agency/:id/election/:date` and looks [something like this](https://drive.google.com/open?id=0B2fKtH2QvtcocE1kX0hKYi1SWTQ).

[2015-07-19 22:50] adborden commented on #6
[code]

[2015-07-19 22:50] adborden commented on #7
[code]

[2015-07-19 22:54] adborden commented on #7
cc @seanius @erispoe

[2015-07-19 22:54] adborden commented on #6
cc @erispoe

[2015-07-19 23:04] adborden opened #9 "Load Netfile data into DB"
I'm assuming we should follow CCDC's pattern of download, clean, transform, load. We currently are downloading a fixed range of records to CSVs. Create some basic models (or single model) that closely aligns with the Netfile schema. Any transforms we do on top of that should probably be stored/treated separately.

[2015-07-19 23:09] adborden commented on #7
This endpoint was requested by the folks working on some dataviz prototypes, so the there might be some flux in these.

[2015-07-19 23:10] adborden commented on #6
This endpoint was requested by the folks working on some dataviz prototypes, so the there might be some flux in these.

[2015-07-26 19:59] adborden opened #10 "Create a test command"
As a developer, I want a single command that I can run which runs the same tests that travis runs so that I can be confident my branch will pass before I push to travis.

Currently, travis runs these commands separately:

[code]

[2015-07-26 20:05] adborden commented on #10
And stick it in the README so folks know how to use it :)

[2015-07-26 20:27] adborden commented on #10
Looks like tox might do this for us, I opened this issue https://github.com/california-civic-data-coalition/django-calaccess-raw-data/issues/275 to clarify.

[2015-07-26 23:12] adborden opened #11 "High-level technical architecture"
We've discussed this, but I don't think we have a doc we can point to explaining what our technical plan is.

This document is a rendering from a whiteboard session at the March 2015 meeting at Omni Commons and is a bit out-dated.

![disclosure-backend architecture](http://drive.google.com/uc?export=view&id=0B_mJPkm423eVVkkyQVFKS3JicWs)

Currently the OCR stuff is out. We need to identify the spec

[2015-07-27 00:28] adborden opened #12 "Corrections and auditability tracking"
A system to provide an auditability trail. From @rkiddy:

The system could be implemented via DB records which reference the raw records an any "manual" corrections that we've made.

Care should be taken that the audit records refer only to the raw data records, so that if we need to blow away the cleaned records, we can download the latest set of raw data then apply the corrections to get the cle

[2015-08-02 23:58] seanius commented on #6
In adc9794d I added a zipcode_metro model, which we can use for mapping zipcodes to metro names.  this can be used for determining the "in_metro" type information.

[2015-08-03 00:00] seanius commented on #7
In adc9794d I added a zipcode_metro model, which we can use for mapping zipcodes to metro (and state) names.  this can be used for determining the "in_state" type information.

[2015-08-03 00:29] seanius commented on #9
the zipcode_metro app could serve as a template for how to create a django model.  it re-uses a lot of the existing calaccess_raw guts, though doesn't do any cleaning on the data it downloads.

[2015-08-08 19:44] seanius commented on #7
Most up to date version is here:

https://github.com/opencalifornia/ux/blob/master/api-specs/election.json

[2015-08-08 20:16] seanius commented on #7
running commentary on our understanding semantics of these fields etc:

this is for contribution data (schedule 460A)
    "agency_id":  netfile agency (should be modelled by NetfileAgency)
    "agency_name":  same
    "election": we'll need some kind of election date registry
    "by_source": {  <---  total campaign contributions by source, it's not entirely clear what deliniation is actually want

[2015-08-08 20:40] adborden opened #13 "Election and Race data"
We don't have a source for "what exists on my ballot". Let's start with Race and Election models.

Right now this involves going to the Agency's website, looking up the election data, and manually entering them in the django admin interface (for a model that currently doesn't exist).

This data should be exported as a fixture and committed to git. The fixture should be loaded on db initialization

[2015-08-08 20:42] adborden opened #14 "Annotations for committees"
We don't have data for "What is this Committee's stance on a particular issue?". We'll add that manually through the django admin interface. We'll need an `AnnotatedCommittee` model.

This data should be exported as a fixture and imported on db initialization so that dev instances have a working site.

[2015-08-08 21:04] seanius commented on #13
The "Race" will have name, which will be the name of the office, or the name of the ballot measure.

[2015-08-08 21:05] seanius commented on #14
The stance of a committee can be "for" or "against" in the case of a ballot measure, and in the case of an office, it will be the name of the candidate that they support.

[2015-08-08 22:03] adborden opened #15 "Pull out dependency on our own calaccess_raw fork."
We've made a handful of changes to calaccess_raw which should go upstream. We don't need to have a forked version, none of our changes are unique to our app. Keeping disclosure on their app reduces complexity of merging in upstream fixes and features.

Before getting rid of the calaccess_raw fork, we need to integrate this change upstream to avoid running out of memory on small aws instances.
1. S

[2015-08-20 03:46] seanius opened #17 "Create annotations/corrections model"
We now have a bunch of raw data that we want to be able to clean/amend/annotate.  for example:

[code]

There are two mostly orthogonal steps I want to take towards attacking this:
- the various tools to find the things to cluster/dedupe/correct/review
- the representation of these things (i.e. a rule that says "rename this thing to that thing")

The first part is harder than the second, for start

[2015-08-27 04:26] amandabee opened #18 "Errors Installing ( EnvironmentError: mysql_config not found)"
Trying to get this running, however I'm getting stuck on `EnvironmentError: mysql_config not found` -- @adborden  and I thought it might be for want of MySQL, but I installed MySQL server, and it is definitely running, but I'm still getting the following when I run `pip install -r requirements_dev.txt`:

[code]

I'd love help figuring out what isn't working here. I'm on Ubuntu, not OSX, for whatev

[2015-08-27 05:40] tdooner commented on #18
Hey @amandabee, you will need the package containing MySQL header files in order to build the mysql python module. You should be able to install it with:

[code]

Then, try the `pip install` again and let me know how that goes.

[2015-08-27 14:37] amandabee commented on #18
Awesome. I do see a warning:

But otherwise this works now. I think @erensi was having a similar problem on his Windows install. Not sure if the fix is the same.

[2015-08-27 14:37] #18 closed, assigned to nobody

[2015-08-27 15:50] adborden commented on #18
The pip warning "could not find tag or branch...assuming commit" is just a warning and you can ignore it. It is indeed a commit in the case of the swagger module :)

##

Aaron Borden
Human and Hacker
Sent from my mobile

On Aug 27, 2015 7:37 AM, Amanda Hickman notifications@github.com wrote:
Awesome. I do see a warning:

But otherwise this works now. I think @erensi was having a similar problem on

[2015-08-27 23:55] rkiddy commented on #18
I documented, as far as I could, the install procedure. See:

https://docs.google.com/document/d/1rQfHDM_wdOX2W38U44Iuv9341UmcIJgocqUICXR6soA/edit

You can also find it by going to the OpenCalifornia > ODCA folder and looking for:

'CCDC Applications for the "django-uninitiated"'

I am also using Ubuntu (14.04). It is sometimes a bit challenging to get Mac OS X instructions to work.... :-)

[2015-08-28 17:55] amandabee commented on #18
Awesome. Seems like some of that belongs in a pull request to https://github.com/opencalifornia/disclosure-backend/blob/master/README.md, no? I'm not a Django _expert_ but I wouldn't have assumed that I needed to read _CCDC Applications for the "django-uninitiated"_ to install the `disclosure-backend` -- I've got a few other Django apps running. The issue was that I'm not using MySQL with any of t

[2015-08-28 17:59] seanius commented on #18
Ideally one shouldn't need anything not documented in the .md file, so
yeah, I would say "patches welcome" :)

On Fri, Aug 28, 2015 at 10:55 AM, Amanda Hickman notifications@github.com
wrote:

[2015-09-17 03:31] adborden commented on #7
Anyone know where this data is supposed to come from?

[2015-09-17 03:33] adborden opened #19 "Identify data source for local ballot data"
We need to identify a source of data that will provide us with all the Election and Race data we need.

[2015-09-17 03:33] adborden commented on #19
See #6 and #7 for the specific data we need.

[2015-09-17 04:56] adborden opened #20 "Styleguide page with example components"
https://slack-files.com/files-pri-safe/T02RZ6FDG-F09RQRKTN/odca-mobile-09-ballot_measure.pdf?c=1442465727-88c3ec42e390d1c34aaf4d9b35b247db880e650d

[2015-09-17 06:02] adborden opened #21 "Landing page with CA Civic Lab branding"
![screenshot from 2015-09-16 22-38-59](https://cloud.githubusercontent.com/assets/509703/9925744/d6dbd912-5cc3-11e5-8015-20f375547501.png)

As a voter, I can go to http://opencal.opendisclosure.io/ (or caciviclab.com) to see the CA Civic Lab brand and the project goal so that I know what the project is, who is behind it, and how to engage.

[Complete mockup](https://slack-files.com/files-pri-safe/

[2015-09-17 06:03] adborden opened #22 "Point caciviclab.{com,org,io} to the app"
cc @bayreporta

[2015-09-17 06:08] adborden opened #23 "Find my ballot (location search)"
![screenshot from 2015-09-16 22-38-59](https://cloud.githubusercontent.com/assets/509703/9925744/d6dbd912-5cc3-11e5-8015-20f375547501.png)

As a voter, I can go to http://opencal.opendisclosure.io/ (or caciviclab.com) and enter my location details so that I can find my ballot and the campaign contributions related to issues I am voting on.

[Complete mockup](https://slack-files.com/files-pri-safe/

[2015-09-17 06:20] adborden opened #24 "Local jurisdiction page"
![screenshot from 2015-09-16 23-11-01](https://cloud.githubusercontent.com/assets/509703/9926193/449840ae-5cc8-11e5-9215-f3136ce2986c.png)

As a voter, I can see my local jurisdiction and ballot contents so that I have a single entrypoint to find all the data related to issues on which I will be voting.

This is really just the page scaffolding so that we can have a place to start putting the camp

[2015-09-17 06:29] adborden opened #25 "High level election finance info"
![screenshot from 2015-09-16 23-22-32](https://cloud.githubusercontent.com/assets/509703/9926379/d8ca2f3e-5cc9-11e5-8897-4cab1ffc4b22.png)

As a voter I want an overview of the campaign finance related to my local jurisdiction's election so that I can be informed, and enticed to dig deeper.

[Complete mockup](https://slack-files.com/files-pri-safe/T02RZ6FDG-F09RQRKTN/odca-mobile-09-ballot_measure.

[2015-09-17 06:33] adborden opened #26 "Ballot table of contents placeholder"
![screenshot from 2015-09-16 23-30-51](https://cloud.githubusercontent.com/assets/509703/9926520/0246b23c-5ccb-11e5-9090-a46da3206709.png)

As a voter, I can see a high-level table of what contests are on my ballot so that I can navigate the world of campaign finance and how it relates to the topics on which I'm voting.

[Complete mockup](https://slack-files.com/files-pri-safe/T02RZ6FDG-F09RQRKTN/

[2015-09-17 07:22] adborden opened #27 "Ballot measure page placeholder"
![screenshot from 2015-09-16 23-45-16](https://cloud.githubusercontent.com/assets/509703/9926758/0a5e3966-5ccd-11e5-8a11-7c8b06ef6344.png)

As a voter, I can see the campaign finance disclosure data related to this ballot, so that for a single issue, I have a good idea about what the ballot is about and how heavily interested supporters and opposers are and I can make an informed decision on this

[2015-09-17 07:54] adborden commented on #20
Probably a good idea to create a static styleguide html page, so you can see the UI elements with the live CSS.

[2015-09-20 15:34] adborden opened #28 "Option max_lines_per_load has no default"
[code]

[2015-09-20 17:19] mikeubell commented on #7
Netfile has an agency_id but callaccess does not.  Do we want to recreate one for callaccess or drop it and just use agency_name as this aught to be unique.

[2015-09-20 17:28] mikeubell commented on #7
What is the difference between "candidate" and "self_funded"?

[2015-09-20 23:49] adborden opened #29 "Merge frontend"
Merge the [frontend code](https://github.com/opencalifornia/disclosure-frontend-alpha) into the disclosure-backend repo.

[2015-09-20 23:51] adborden opened #30 "Can't import zipcode data"
[code]

[2015-09-21 00:00] adborden commented on #30
@seanius can you take a look at this? seems like with calaccess_raw installed as a dependency, python isn't looking at our project for the path to `zipcode_metro`.

[2015-09-21 00:20] adborden opened #31 "C3 directives"
Angular directives for the C3 visualizations. @ajmobidesign anything to add?

[2015-09-21 02:28] adborden opened #32 "About us page content"
We had discussed an "About us" page which would give some context about California Civic Lab and the Disclosure project. The "About us" page doesn't exist and we don't have a mockup yet.

Here's a version I came up with from the [wiki page](https://github.com/opencalifornia/opencalifornia.github.io/wiki), which could be updated to match the About us page:

[2015-09-21 02:29] adborden commented on #32
@sseiter someone mentioned at the meeting today that you could take on this task, feel free to re-assign.

[2015-09-21 14:59] adborden opened #33 "Contributors guide"
A policy describing how we work on the project (both code and not code), which will help us work together remotely. This was discussed in the September 2015 meeting.

[2015-09-21 22:11] mikeubell commented on #11
The link here is broken.

[2015-09-27 20:21] adborden commented on #33
#36 addresses this.

[2015-09-27 20:27] adborden commented on #29
#34 roughly shows how this would be done. If you have any comments, please add them to the PR. Right now, the approach seems clean enough that we can build on, there are just a handful of pending issues.
- [x] Rename folder js -> frontend.
- [x] Remove bower.
- [ ] Integrate a better dev cycle.

[2015-09-27 20:28] adborden commented on #29
#37 takes care of the first two.

[2015-09-27 22:35] rkiddy opened #38 "Add documentation of how to create settings_local.py for development credentials"
Rather than have everyone put their database username and password inside of the settings.py file, one can use one's my.cnf file. There is then no chance someone will accidentally check their username and password information into the repository.

It would be better to put this into the settings.py file, rather than put in something like "username=root", which I hope people do not use by default.

[2015-09-27 23:02] adborden commented on #38
Good call. Django provides this by default, you can create a `settings_local.py` to overide project settings, including `DATABASES`. This should be documented in the README as the preferred way. I believe it is already in the gitignore.

[2015-09-27 23:19] tdooner commented on #38
This is already the case for our production setup. It just so happens that the settings_local.py file there was created as a one-off undocumented process on our existing server, so it's understandable that you wouldn't know it exists. As for local credentials, I am not too concerned about people accidentally checking them in since they don't matter to anyone else.

I'm going to change this issue's

[2015-09-27 23:28] adborden commented on #28
I've worked around the issue, but I'm not really sure where these options came from. They don't seem to be referenced in django-calaccess-raw-data, and I don't see them specified in any of our cron stuff. I suppose the two workarounds are the right fix in this case.

[2015-09-30 05:11] adborden commented on #32
Closing, duplicate of [disclosure-frontend-alpha #7](https://github.com/caciviclab/disclosure-frontend-alpha/issues/7),

[2015-09-30 05:11] #32 closed, assigned to sseiter

[2015-09-30 05:24] adborden commented on #33
@jnmarcus suggested this be moved to the wiki or http://caciviclab.org/

[2015-10-01 00:06] rkiddy opened #40 "downloadzipcodedata fails"
I will see if I can see what is wrong, but I thought I was following the directions. I did a 'git pull' and then this:

[code]

[2015-10-01 02:41] adborden commented on #40
Great report, @rkiddy. This is a dupe of #30 and is left-over from our calaccess_raw cleanup. #39 fixes the issue, so if you're feeling adventurous, you can switch to bug/30 branch, `pip install -r requirements.txt` to pull in the forked calaccess dependency and go from there.

[2015-10-01 02:41] #40 closed, assigned to nobody

[2015-10-02 22:17] rkiddy commented on #40
@adborden, I cannot tell if you are being facetious or not. :-) I will try to keep up with you all. It is working if I pull bug/30. Thanx.

[2015-10-03 22:39] adborden commented on #40
@rkiddy no, not being facetious, sorry if I sounded that way. Every report is a positive contribution, even if it's about an existing issue. It says to me that more folks are running into the issue and we should prioritize the fix.

I'm glad it's working for you, and I'll merge it in now that I know at least someone else looked at it. Thanks!

[2015-10-03 22:40] #30 closed, assigned to adborden

[2015-10-04 19:08] adborden commented on #33
Pending [caciviclab.github.io #5](https://github.com/caciviclab/caciviclab.github.io/pull/5).

[2015-10-04 19:10] adborden commented on #29
To see this ongoing work, you can checkout branch [frontend-merge](/caciviclab/disclosure-backend/tree/frontend-merge). I've prefixed "in development" branches with `frontend-m/`

[2015-10-04 19:22] adborden opened #41 "Automated database backups"
We're adding more stuff to our database which is not easy to fetch/automate, so it's important we have backups.

[2015-10-04 19:35] adborden opened #42 "Clean up the directory structure as per django convention"
@jnmarcus pointed out that the directory structure is a bit confusing. Here's what django would do:

[code]

Produces a directory structure like this:

[code]

Legacy from django-calaccess-raw-data, we have a project name with a hyphen (invalid in python) and the main app is named "project" under `disclosure-backend/disclosure-backend/project`.

[2015-10-04 20:21] adborden commented on #22
Thanks @bayreporta , we have:

| Domain | Description |
| --- | --- |
| [caciviclab.org](http://caciviclab.org/) | Our org website with details on who we are, the projects we're working on, and how to get involved. |
| [disclosure.caciviclab.org](http://disclosure.caciviclab.org) | Our Open Disclosure CA app. |

[2015-10-04 20:21] #22 closed, assigned to nobody

[2015-10-04 20:31] adborden commented on #23
This overlaps with [caciviclab/disclosure-frontend-alpha #10](https://github.com/caciviclab/disclosure-frontend-alpha/issues/10).

[2015-10-04 20:32] adborden commented on #41
@seanius said he could cover this.

[2015-10-04 23:36] adborden commented on #13
Consider basing our models off of http://votinginfoproject.github.io/vip-specification/

[2015-10-05 02:35] adborden opened #44 "Logging: to console in development, to file in production"
Use django's logger to log verbose information to console in development, and log errors to file in production.

[2015-10-05 04:24] adborden opened #45 "Accept url as input for ImageField"

[2015-10-05 04:36] adborden opened #46 "Create fixture for ballot app data"
Should include the an auth group "Ballot Editors" which can edit all the ballot content. You should be able to dump this from the production db (give it a few weeks).

[2015-10-05 06:18] adborden commented on #13
I implemented some models based on VIP in #47 That should be good to get us off the ground (no doubt will need tweaking as we go).

BTW, rather than "race" I thought the work "contest" was more appropriate and that we should adopt that going forward.

[2015-10-05 06:18] #13 closed, assigned to adborden

[2015-10-06 03:45] adborden commented on #41
We should also be backing up MEDIA_ROOT because we'll be hosting candidate photos there, as well as settings_local.py. Feel free to split these into alternative tickets.

[2015-10-06 15:00] adborden commented on #19
Dropping the v1 milestone, we'll be curating the ballot data manually.

[2015-10-06 15:00] adborden commented on #19
Voter information project has some resources we might be able to use https://www.votinginfoproject.org/projects/

[2015-10-06 16:18] adborden commented on #20
@jnmarcus did a great job getting some the main components styled. I'm going to change this to being the style guide page.

[2015-10-07 03:01] mikeubell opened #49 "Handle amended filings from netfile."
Campaigns can file amended documents.  These appear in Socrata as new filings with `Report_num > 0`.  In general only the items with the MAX(Report_num) for any particular filing period should be included in any data displayed.  This makes it hard to pull things straight out of Socrata.

[2015-10-07 05:51] tdooner commented on #41
If you want to take this on @seanius, fine, but I think it's better to err towards making our database state recoverable via some import process rather than treat the data in it as sacred. Anyway, this strikes me as pretty low priority.

[2015-10-07 16:00] adborden opened #50 "Admin models for zipcode_metro app"
We want to see the zipcode data in admin.

[2015-10-07 16:01] adborden opened #51 "Admin models for netfile app"
We want to see the netfile data in the admin UI.

[2015-10-07 17:32] bayreporta opened #52 "Change "Referendums" to "Ballot_Measures"; "Contests" to "Races""

[2015-10-07 20:08] rkiddy commented on #49
This is a big problem for analysis tools, as you will probably be seeing, and there will be effects of this all through the system.

I ended up doing a few things.
1) create another column on the FILER_FILINGS table to hold the maximum amend_id value.
2) create another set of tables to store only the latest amended versions.

This second step may sound like overkill, but I was already creating cop

[2015-10-07 22:15] mikeubell commented on #49
Having tables that only contain the latest amendments is the thing to do.  Whether there is a version of the database that contains all the filings really depends on what you are doing. I think for public visualization only the most recent valid data is interesting.

[2015-10-07 22:40] rkiddy commented on #49
I agree. I would just suggest we do not throw away the other data until there is a reason to, If the non-latest adend data can be moved aside so that it does not get in the way of the UI code, that would be great.

[2015-10-07 22:45] mikeubell commented on #49
It would be good to not have the obsolete data in the same tables with the data being queried by UI for performance reasons.  If we don’t provide an interface to it, there is really no reason to store it since it exists at the primary source.  If there is some reason that people would want to query this data then we could have it around.

On Oct 7, 2015, at 3:40 PM, Ray Kiddy notifications@github.

[2015-10-08 02:32] adborden commented on #41
We have folks adding curated data to [admin](http://disclosure.caciviclab.org/admin/ballot/candidate/). I'd hate to lose it because I typo'd a chef recipe.

The recoverable part is important too, but in the event of a disaster, I just want to make sure we aren't having folks re-do their hard work.

[2015-10-08 02:57] adborden opened #57 "Create Citation model for the ballot app"
We need a way to record some info about how we sourced our ballot data..

A citation should have

| Field | Type | Description |
| --- | --- | --- |
| url | url | A link to the source of the information. |
| summary | short text | An explanation of the source. |

Fields are optional, and you should be able to attach as many Citations as you want to the following ballot objects:
- Ballot
- Candidat

[2015-10-08 02:59] adborden opened #58 "Admin Candidate photo uploads aren't working"
Candidate photos are getting dumped in the current directory, not MEDIA_ROOT. Fetching the URL for 'em also doesn't work.

[2015-10-08 03:14] #50 closed, assigned to rkiddy

[2015-10-08 03:14] #51 closed, assigned to rkiddy

[2015-10-09 16:34] adborden commented on #9
I"m going to call this done, since we have the [infrastructure for it](http://disclosure.caciviclab.org/admin/netfile/) and it's loading. There's still some question of what are we going to transform it to, but that will land in another issue.

[2015-10-09 16:34] #9 closed, assigned to nobody

[2015-10-09 16:37] adborden opened #60 "Understand Netfile data and identify what transforms we need to serve the api"
You can see what we're working with. Having an understanding of CalFormat and campaign finance laws would be helpful.
https://drive.google.com/folderview?id=0BzfApHVcD3yDaFRGREs0Qjl2eWM&usp=sharing

[2015-10-09 18:30] mikeubell commented on #60
Aaron,

Does NetFile have documentation on the data?  That is what is the provenance, time frame, etc.  I see they do not have a report_num field so we would have to know if this is only the most recent amendments or all amendments, etc.  I could load it up and look for duplicates, etc.

On Oct 9, 2015, at 9:37 AM, Aaron Borden notifications@github.com wrote:

[2015-10-10 17:20] adborden commented on #10
This exists now, should be added to the README

[code]

[2015-10-10 17:31] adborden commented on #11
Thanks @mikeubell getting a direct, public link from google is apparently very difficult.

[2015-10-13 07:02] adborden commented on #60
Very little documentation. They're using swagger spec for their api, so you get some information here https://netfile.com/Connect2/api/swagger-ui/#!/public

The CSVs linked above are created from `/public/campaign/export/cal201/transaction/year`. Forms/schedules are mapped to transaction types, available from `/public/campaign/list/transaction/types` and agencies are available `/public/campaign/ag

[2015-10-15 04:22] adborden opened #61 "map mockup to api"
@jnmarcus @amandaric @sseiter review the existing  mockups and identify the specific data that is required for the api to consume.

i.e. mapping the mockups to the line items in the CalFormat Forms (or even to the column names from our [data dictionary](https://data.sfgov.org/City-Management-and-Ethics/Campaign-Finance-Data-Key/wygs-cc76))

[2015-10-15 05:33] adborden commented on #60
This is another piece of the puzzle, understanding the column names, which are very similar to other related data sources https://data.sfgov.org/City-Management-and-Ethics/Campaign-Finance-Data-Key/wygs-cc76

[2015-10-16 00:44] mikeubell commented on #60
I've done a little poking at this data.  I created an SQL table and ran some queries.  My understanding is that tranactiontype=0 should be the A section of F460.  Running:
select sum(tran_amt1) from netfile where filerid = 'COAK-153682' and transactiontype='0'
where 'COAK-153682' is the Schaaf mayoral committiee gets 684098.90 which is too high, the Socrata data gives: 449721.11.
There are about 1

[2015-10-16 05:28] tdooner opened #66 "Cal-Access import segfaults before finishing"
AFAICT, the RCPT_CD table is where the Form 460 Schedule A data lives. It is what currently powers the meager API we support.

However, there is currently no data there! This seems fishy....

Perhaps related to some data import bugs we didn't fix during the transition from calaccess_raw to being a dependency?

[2015-10-16 05:31] tdooner commented on #66
The output of the cron log ends abruptly:

[code]

[2015-10-16 05:47] tdooner commented on #66
The plot thickens:

[code]

Suspicious... every day, 33 minutes after the cronjob starts.

[2015-10-17 20:22] tdooner opened #67 "Rebuild server with > 1 GB RAM"
Our existing server has only 1 GB of RAM.

Between the InnoDB buffer pool (~130MB) and uwsgi's two worker processes (~50 MB each), this leaves very little for the extremely intensive ETL process to run. I suspect this is the cause of #66 .

@seanius You have the AWS credentials. Could you help me out by creating a new server that's at least a t2.medium? The capability to burst CPU usage seems righ

[2015-10-18 23:36] seanius commented on #67
I suspect it's okay to do so, I'll ping the CfA persons responsible in parallel to setting it up.  Will shoot for tonight/tomorrow night.  w.r.t. credentials I shouldn't be the only one who has credentials for obvious reasons, let's sync up on slack to arrange for an N+1 holder of said credentials.

[2015-10-19 04:26] tdooner commented on #67
Okay. Also, this is lower priority now that the import actually succeeds every night.

[2015-10-21 03:01] tdooner commented on #18
Just to clarify: do _not_ follow the "CCDC applications for the django uninitiated." It is a good guide, but not for people trying to set up the caciviclab/disclosure-backend project.

To set up this project, the only document you should need is the README.md. If there is something missing, please make sure you mention it in an issue or pull request so the next person that comes along will benefit

[2015-10-21 04:48] seanius commented on #67
This was done, and creds handed off to tdooner.  Admin credential holders are now @tdooner , @adborden and myself

[2015-10-21 04:48] #67 closed, assigned to seanius

[2015-10-21 17:55] rkiddy opened #68 "Django causes warnings from install/running calaccess_raw code"
Just something to be aware of. If the cause of these are known and something is in the pipe, I will not bother looking at them. And if this is only happening on my system, I probably will not look at them. But if it is something real, I can.

[code]

and

[code]

[2015-10-21 18:22] tdooner commented on #68
They happen to me too. I think they're more of an annoyance for now -- ideally the CCDC will address them since they are part of the calaccess_raw dependency. If they get too annoying, or we really want to upgrade django for some reason, then we'll have to pay attention to them.

[2015-10-22 03:09] tdooner commented on #67
Thanks @seanius !

[2015-10-22 04:00] tdooner opened #69 "Implement /candidates/ API endpoint"
The structure is given by:

https://github.com/caciviclab/disclosure-frontend-alpha/blob/3a6bcdb78f95f3b20af3dd16c92242c20f302faf/app/components/common/api/sfMayorIds.js#L6-L51

[2015-10-22 20:11] adborden commented on #29
This is on hold. I have a branch frontend-m/browserify-pipeline with the latest. The biggest issue is that the way django-pipeline works is it copies everything to the static root, and then builds things there. That doesn't work well for us, because node_modules get's copied, with a lot of dev dependencies.

You can kind of mangle the paths to trick it into working, but it's not ideal--certainly c

[2015-10-22 21:46] mikeubell opened #70 "downloadnetfilerawdata fails"
(env)MacBook-Pro:~/disclosure-backend master
$ python disclosure-backend/manage.py downloadnetfilerawdata
/Users/ubell/disclosure-backend/env/src/django-calaccess-raw-data/calaccess_raw/**init**.py:3: RemovedInDjango19Warning: The utilities in django.db.models.loading are deprecated in favor of the new application loading system.
  from django.db.models.loading import get_models, get_app

Tracebac

[2015-10-23 00:55] ebrensi commented on #70
yes I ran into this too.  I thought it was just me.

[2015-10-23 17:52] rkiddy commented on #70
Is this from a fresh clone of the repo? This kind of error has happened to me a few times when I did a pull, got updated content in an existing clone, and then ran the migrate command with existing data.

If I get a fresh clone and run through the procedure, then there has been no problem. And I copy in the TSV and other data tables from a backup and this has not caused a problem and I have not ne

[2015-10-23 20:32] mikeubell commented on #70
I tried in a clean repo and I get the same result.

[2015-10-23 23:11] ebrensi opened #71 "pip install can't find branch/tag specified in requirements.txt"
I just did a clean install of disclosure-backend and noticed that requirements.txt contains two specific branches/tags, one of which is

[code]

This one results in the message

[code]

so I removed the branch/tag id from both requirements and it worked fine.  Not sure if this ok but it seems to work so far.  Before, I was ignoring these messages and it could be why I was experiencing other proble

[2015-10-24 19:08] tdooner commented on #71
This message is just a notice - Pip correctly resolves the `0dd6b6913e4a00b49d1b9c9bf9829ed83f4587a3` to be the commit SHA that we want to pin.

It's important that we pin the version of our dependencies so that we have consistent behavior regardless of what happens in that other repository, and we can explicitly opt-in to newer code when we please.

[2015-10-24 19:08] #71 closed, assigned to nobody

[2015-10-28 04:15] #70 closed, assigned to adborden

[2015-11-11 16:24] adborden opened #81 "Netfile partial downloads"
As a developer, I want Netfile django commands to figure out what to download based on what's already in the database, so that downloads/loading is much much faster.

Maybe have a switch to allow for a full download.

[2015-11-11 22:44] ebrensi commented on #81
yes probably the 2014 data is not going to change much, if at all.  There is no point in re-downloading it every night.

Just to clarify, this is a request for someone to implement incremental updates for netfile data.   The relevant files to look at are
 [`/netfile/connect2_api.py`](https://github.com/caciviclab/disclosure-backend/blob/master/netfile/connect2_api.py)
and
[`/netfile/management/com

[2015-11-12 05:24] #52 closed, assigned to adborden

[2015-12-01 23:54] ebrensi opened #83 "combined netfile Cal201 table contains incorrect data in agency_shortcut field"
`downloadnetfilerawdata.py` is putting year in the agency_shortcut field, and not the correct agency shortcut.

When combining netfile data, the combine method just does a split on the path name at underscore symbols and picks the 3rd piece from filenames, so that for example

[code]

would return (agency).

 Since the parent directory name was recently changed from `disclosure-backend` to `disclo

[2015-12-03 19:11] #83 closed, assigned to nobody

[2015-12-14 00:17] adborden commented on #25
This issue is really only a placeholder, to get the page up. We'll add issues for the individual components.

[2015-12-14 00:18] #25 closed, assigned to adborden

[2015-12-14 00:30] adborden commented on #26
This is a placeholder story that sets up the page scaffolding so that we can break it into smaller pieces and have a shared foundation to work off of. It should include:
- A route
- Page template
- Mock data
- Basic styling

This page will live at `/city/:city_id/elections`

[2015-12-14 00:33] adborden commented on #21
This page mostly exists at http://disclosure.caciviclab.org/ so I'm going to close this for now.

[2015-12-14 00:33] #21 closed, assigned to nobody

[2015-12-14 00:37] adborden commented on #66
Is this still an issue? I think we made some changes upstream to load in batches.

[2015-12-14 00:38] adborden commented on #61
@sseiter I believe this is on the agenda for our next meeting?

[2015-12-14 00:48] adborden commented on #23
Calling this done for now. The rest is covered in https://github.com/caciviclab/disclosure-frontend-alpha/issues/10. The current behavior is to type a city name in the search box, we call the [API](http://admin.caciviclab.org/docs/#!/search/get) to autocomplete it, and we render a list of matches. Each match links to the city page.

The API is returning stubbed data so the results aren't very inte

[2015-12-14 00:49] #23 closed, assigned to nobody

[2015-12-14 00:51] adborden commented on #24
Closing this. The description is ambiguous, and the page in the mockup exists now, as a placeholder.

[2015-12-14 00:51] #24 closed, assigned to nobody

[2015-12-14 01:04] adborden commented on #27
This is a placeholder story that sets up the page scaffolding so that we can break it into smaller pieces and have a shared foundation to work off of. It should include:
- A route
- Page template
- Mock data
- Basic styling

This page will live at `/city/:city_id/measure/:measure_id`.

[2015-12-15 08:08] adborden opened #88 "Add party affiliation to candidate model"
Candidate model needs a field for the candidate's political party.

[2015-12-18 18:31] mikeubell opened #89 "the nefile BAL_JURIS needs entity resolution"
There does not appear to be a standard for how to fill this field:
select distinct BAL_JURIS from netfile_cal201_transaction where BAL_JURIS like '%akland%';
BAL_JURIS
  City of Oakland, CA
  City of Oakland
  Oakland, CA
  Oakland

[2015-12-19 06:16] bcipolli opened #90 "Cannot download cal-access data with Django 1.8.0"
There is a regression bug in Django 1.8 that causes the `downloadcalaccessrawdata` management command to fail.
https://code.djangoproject.com/ticket/24569

The two options are:
1. Activate translations in `settings.py`
2. Use a newer version of Django.

I'm currently working around the issue by making the modification in my Django code that's specified in the link above.

Here's the stack trace fo

[2015-12-20 22:55] adborden opened #93 "How-to doc to on-board a new jurisdiction"
We need a doc describing how a new jurisdiction gets into the system. This should live on the [wiki](https://github.com/caciviclab/caciviclab.github.io/wiki) as it's an evolving doc. Maybe we can document how San Diego gets involved.

[2015-12-20 23:00] adborden commented on #93
Some high-level thoughts off the top of my head:
1. Add your group to our [contributors](http://caciviclab.org/#contributors).
2. Add your jurisdictions ballot information manually into the [ballot admin](http://admin.caciviclab.org/admin/ballot/).
3. Get your data into netfile? Or write an ETL to get it into ODCA.

[2015-12-20 23:31] bcipolli commented on #93
Ya this is great, and we'd be happy to contribute.

I was thinking it'd be great to:
- Set everything up on a private test system (ballot measures, data scraping, cron tasks)
- When ready, have some deployment procedure, like:
  - Run a script to dump a fixture of ballot information from the test system.
  - Add the data to a branch for integration that includes the ETL scripts and any database in

[2015-12-21 07:55] jnmarcus opened #94 "Load FIPS Ids & their corresponding Names & Types into API"
FIPS Ids are used nationwide at the city, county, and state level.  Per @chellrocks suggestion, and based on some various onsite discussions, we had previously decided that using FIPS ids made the most sense as it will help us to use a uniform identification nomenclature & not force us to re-write the wheel where we don't have to.  Now, we need to load this data into a consumable API :smile:

Base

[2015-12-21 08:13] jnmarcus commented on #94
One **idea** I had had for how the city and county data could look (or rather the immediate data we would need with a city and or county), was something like this:

[code]

[2015-12-21 11:50] mikeubell commented on #94
Since San Francisco is both a county and a city using the county FIP is probably right.

[2015-12-21 14:28] bcipolli commented on #94
Thanks @jnmarcus ! A few thoughts...

On FIPS codes:
- **FIPS codes should probably be added manually on an as-needed basis**, since we only want to allow users to search for city/county/state data that we actually have in the database. So, as long as we have a proper Django model to represent the data, we can use the [Django admin interface](admin.caciviclab.org/admin) to add those codes (and sta

[2015-12-21 14:40] bcipolli commented on #94
As far as Django models go, setting up the models seemed straightforward. Glad to hear if others have ideas for a different structure:
- City model (`fips_id` PK, `name`, `county_fips_id`)
- County model (`fips_id` PK, `name`, `state_fips_id`)
- State model (`fips_id` PK, `name`)
- Zip model (`id` PK, `zip_code`, `city_fips_id`) - where `id` is generated by Django.

To start, all could be added ma

[2015-12-21 17:16] adborden commented on #94
@jnmarcus I only see state and county data in your spreadsheet, do we have fips for cities?

[2015-12-21 20:30] bcipolli commented on #94
@adborden nope; I posted a link with city IDs, and some suggestions how to use them, in my follow-ups.

[2015-12-22 15:40] bcipolli commented on #81
The API to browse is:
https://netfile.com/Connect2/api/swagger-ui/

The most generic query form I see is:
https://netfile.com/Connect2/api/swagger-ui/#!/public/Query

According to what I've seen, there are specific filing deadlines for each relevant form type. So it shouldn't be necessary to scrape and re-scrape data.

The only potential caveat that comes to mind: do we need to be concerned about

[2015-12-22 15:44] bcipolli commented on #11
I believe this wiki doc is also relevant:
https://github.com/caciviclab/caciviclab.github.io/wiki/Technical-Overview

[2015-12-22 15:49] bcipolli commented on #12
After chatting with @andrell81 last night, I'm not sure that a tool like DeDupe is relevant here--we don't believe duplicate detection is possible.

To me, this sounds like a nice encapsulated Django app that can be implemented anytime we've implemented the basic data scraping scripts. It can define models for tracking manual changes and expose forms for making those changes.

[2015-12-22 15:51] bcipolli commented on #15
Note that I've submitted the memory change as an upstream PR (https://github.com/california-civic-data-coalition/django-calaccess-raw-data/pull/1151). Once that's accepted, should be good to go here.

[2015-12-22 15:52] bcipolli commented on #17
It would be great to understand how this is similar/different to #12 ?

[2015-12-22 15:54] bcipolli commented on #20
The above link is broken, and I don't understand what this issue is about. @adborden could you update this please?

[2015-12-22 15:57] bcipolli commented on #29
It's unclear to me why this would be desirable. In my eyes, the back-end app is an independent API for any front-end. The front-end app is simply one (of potentially many) apps to process and display those data.

For me, the current architecture (separate repos) is the right one.

[2015-12-22 15:59] bcipolli commented on #33
Beyond the above PR, it would be great to define a style guide. It isn't self-evident from the code how strictly PEP8 guidelines will be followed, whether camel_casing is important, etc.

If there are simple rules, they could be added to the README.md. If the current code is violating those rules, we should probably take care of it ASAP, as the code is gonna start churning soon :)

[2015-12-22 16:01] bcipolli commented on #38
I believe this was fixed in https://github.com/caciviclab/disclosure-backend/commit/4ecb3d8f77c02b5eae7b8d2840f9ec6d0d787926#diff-04c6e90faac2675aa89e2176d2eec7d8R77

[2015-12-22 16:04] bcipolli commented on #41
As mentioned in #14, we should have a command to make these manual annotations into fixtures and commit them to some repo.

I agree with @adborden that it should be a relatively high priority--we could lose those data, and those fixtures are necessary for setting up test systems.

I agree with @tdooner that data pulled from automated sources should not be backed up.

[2015-12-22 16:06] bcipolli commented on #42
@adborden Can you assign this to me? Seems important to do while there's little development activity.

Once the project starts going, this is going to be challenging to change.

[2015-12-22 16:07] bcipolli commented on #46
Is this different from #41 ?

[2015-12-22 16:10] bcipolli commented on #49
Oh man, this is challenging. What's the field that indicates which old transaction data were amended? Is this transaction ID specific to the Socrata system, or is it something that is external to Socrata (like `FilerID` or `fips_id`)?

[2015-12-22 16:13] bcipolli commented on #57
One concern is the citations table getting out of date with the code.

Perhaps citations can have a foreign key on `cron`, so that citations can also include cron info (polling frequency, last run, etc), and changes /additions in cron jobs can be used to alert us that citations may need to change.

[2015-12-22 16:15] bcipolli commented on #60
@andrell81 and I are working on some docs to help with this. @adborden , can you assign this to @andrell81 ?

[2015-12-22 16:20] bcipolli commented on #89
@mikeubell Can you check if `Juris_Cd` is the same for those rows?

[2015-12-22 18:42] mikeubell commented on #89
Yes it is the same.  It is empty.

[2015-12-22 18:47] bcipolli commented on #89
:sob: thanks!

[2015-12-23 04:44] tdooner commented on #42
This is a little better than it was as-of-writing, but still the `disclosure_backend/project/` directory could probably be dealt with. It'd be great to take care of this soon, I agree!

[2015-12-23 04:48] tdooner commented on #20
I'm gonna close this because I think most UI elements seem more appropriate in the frontend project.

[2015-12-23 04:48] #20 closed, assigned to nobody

[2015-12-23 05:23] jnmarcus commented on #94
@bcipolli a couple things :smile:
- I'm not sure if we had fully decided how we were going to handle cities/counties (at least larger cities) that do not have data available.  there was some talk about exposing to users that data was not available for the area they were looking for, with textual information on where/with whom they could follow up with for more information, but I don't remember if

[2015-12-23 05:26] jnmarcus commented on #94
Also, I found this resource, which may be helpful http://www.census.gov/geo/reference/ansi.html  it also has the voting districts available...were we missing that?

[2015-12-23 05:40] bcipolli commented on #94
I just mean, what are the front-end actions (components?) that we're trying to support with the API you mocked up?

Ya, I think.... just forget that :) Info about the front-end components or actions that will consume this data can help figure out how to output it best.

[2015-12-23 08:14] bcipolli opened #95 "createcalaccessrawmodeldocs management command does not work."
Error: TemplateDoesNotExist . Looks like the `toolbox` directory is not in the `TEMPLATE_DIRS`.

![image](https://cloud.githubusercontent.com/assets/4072455/11973063/d21ee346-a909-11e5-88ce-e6f415f9aa91.png)

Suggested fix:
As part of #42, eliminate the `disclosure_backend/toolbox` directory and move `disclosure_backend/toolbox/templates` to `disclosure_backend/templates`.

Notes:
- Even when the

[2015-12-23 17:29] tdooner commented on #38
Looks like it!

[2015-12-23 17:29] #38 closed, assigned to nobody

[2015-12-23 17:31] tdooner commented on #33
Agreed, preferably automated checks. My team maintains a project which provides quick feedback via pre-commit git hooks: https://github.com/brigade/overcommit. Perhaps that could be added to the installation process to enforce style guidelines. But if we're just running flake8 or something, we probably don't need to bring in something that heavy (since it requires Ruby).

[2015-12-23 17:34] tdooner commented on #29
Yeah, we kind of stopped doing this.

The original intention was to simplify the development process and allow us to make cross-cutting changes without separate deploy processes and communication overhead. And it eases the set-up burden because we would only have one set of instructions to follow (and maintain!) instead of two.

But yeah, the structure of the frontend repo is pretty opinionated, a

[2015-12-23 17:34] #29 closed, assigned to adborden

[2015-12-23 17:35] bcipolli commented on #33
https://github.com/california-civic-data-coalition/django-calaccess-raw-data is using `pep8` and `flake8` in their `.travis.yml`. I am +1 to add those here.

Cool tool. I'm simple-simple (pep8/flake8), but good to know that if we want something more, there's a nice tool to make it happen!

[2015-12-23 17:37] tdooner commented on #15
This is done, even if we have a forked version of the dependency. (They just merged my memory fix upstream, so we should be able to un-fork `calacces_raw`!)

[2015-12-23 17:39] tdooner commented on #12
Could you mention a couple problems that you and @andrell81 think we might encounter while attempting to use a tool like Dedupe?

[2015-12-23 17:41] tdooner commented on #33
Yeah, a travis-ci run of flake8/pep8 seems like a good way to do this to me too.

[2015-12-23 17:48] tdooner commented on #94
Wait, how are we thinking of mapping data from NetFile/Cal-Access into a jurisdiction without zip codes? My understanding was that we would assign a list of zip codes to a FIPS code, and then we could match up contributions based on those ZIPs.

Or if we associate committees to FIPS codes, then we wouldn't need to worry about ZIP codes as you mention, but we also wouldn't be able to know what to d

[2015-12-23 17:51] bcipolli opened #99 "Make codebase PEP8 / flake8 compatible"
In #33 we discussed adding PEP8 / flake8 compatibility to a "contributing" doc. To enforce that, we should:
- Add pep8/flake8 to `.travis.yml`
- Make code changes to the existing codebase so that pep8 and flake8 pass.

[2015-12-23 17:51] bcipolli commented on #33
OK, seems that opening a new issue to do that specifically (since it will take code changes to get the travis build to pass) is worthwhile. See #99.

[2015-12-23 18:11] andrelllb commented on #12
The problem is with duplicate detection in general.
It's possible that two people with the same name who live in the same city and work for the same employer both donated $1000 on the same day. We would have that come up with some of the big companies here, like Qualcomm.
Or, sometimes the same person donates the same amount twice in the same day.
In either of these cases, several of the fields in

[2015-12-23 20:58] tdooner commented on #12
Okay, thanks. Those cases as you describe would not be possible to deduplicate based on the information you gave in the example. I wonder if it's possible that there is some other column though (a transaction ID, perhaps) that we could use to tease apart the deduplication false-positives. The important thing in that case would be that we maintain an audit trail saying "We deduplicated records 123

[2015-12-23 22:43] bcipolli commented on #94
If I understood well, each contribution is reported within a specific jurisdiction, and so will have the FIPS code of the jurisdiction whose data we pull. For independent expenditures, the same committee can spend money in multiple jurisdictions, so I think FIPS on the contribution itself is the right way to go.

@andrell81, any comments on how we might use (or not use) zip codes? Do you recall th

[2015-12-23 23:20] andrelllb commented on #12
I do not know of a field that would do that. There is a transaction ID field, but it is not a true transaction ID. I can't remember the specifics of how it's generated, I can ask our City Clerk about that, but a quick look at the Netfile data that I can just download to Excel from the clerk's website shows the same transaction ID for multiple contributions that don't have much in common. Really, t

[2015-12-23 23:27] bcipolli commented on #12
Thanks @andrell81 . I think we should assume that we can't do automated duplicate detection.

I would suggest that, even if keeping an audit trail is a good idea, it should be a lower priority than many things we have on our plate already. I also think it will work as an independent Django app on top of the core coding we have to do, so there's no cost of pushing this off to later.

[2015-12-24 00:40] mikeubell commented on #12
The transaction ID is generated by the data entry software and aught to be unique with in a single filing, but even that may not be true.

[2015-12-28 16:36] bcipolli commented on #99
Fixed in https://github.com/caciviclab/disclosure-backend/pull/101 , just waiting for review.

[2015-12-28 16:36] bcipolli commented on #94
I will take this one.

[2015-12-28 16:38] bcipolli commented on #66
Change was accepted upstream, `requirements.txt` updated in https://github.com/caciviclab/disclosure-backend/commit/c430a924e01561a08386983f0dc036a69dcefc3a#diff-b4ef698db8ca845e5845c4618278f29a

[2015-12-28 16:38] #66 closed, assigned to bcipolli

[2015-12-28 16:40] bcipolli commented on #61
A first pass, mapping the mock-ups to a database schema and API endpoints, can be found here. Comments welcome!

@jnmarcus What's missing is the specific XML elements for each API endpoint. Could you create a doc/spec for that somewhere, and ping me to help flesh it out? I know some of this has been done by @adborden, but I'm not clear which endpoints have been mocked up and which have not.

[2015-12-28 16:42] bcipolli commented on #10
This command exists, and is in the `README.md`. We do need to add the additional checks into the `Makefile`, however.

[2015-12-28 17:05] bcipolli commented on #10
Should be fixed in https://github.com/caciviclab/disclosure-backend/commit/0ab79ad3c61f59d97219a8117e0d2de91aee3389

[2015-12-28 22:44] bcipolli commented on #94
@jnmarcus are FIPS unique across city vs. county vs. state, or only unique within the group? I.e. if I have a FIPS code, is that enough to identify exactly what it is, or do I also need to know if it's a county vs. city FIPS?

Just browsing here, seemed to suggest it's not fully unique, just under the sub-category.
http://www.census.gov/geo/reference/codes/cousub.html

[2015-12-28 22:48] bcipolli commented on #94
Ok, reviewing this county data:
http://www2.census.gov/geo/docs/reference/codes/files/national_county.txt

FIPS codes aren't even unique within the category. there are multiple counties with FIPS `001`, but only one per state. So, FIPS alone isn't enough as a unique identifier.

[2015-12-29 22:22] polkapolka commented on #94
Ben, 5 digit fips codes are unique.  2 digit state code + 3 digit county
code.

On Mon, Dec 28, 2015 at 2:48 PM, Ben Cipollini notifications@github.com
wrote:

[2015-12-30 04:15] tdooner commented on #99
:+1: looks done to me.

[2015-12-30 04:15] #99 closed, assigned to bcipolli

[2015-12-30 04:36] tdooner opened #107 "Add top-level "fips_id" and "name" to GET /locations/{fips_id} endpoint"
Currently the API response for this endpoint contains:

[code]

@jnmarcus suggests that various Angular libraries will work better if the structure has top-level keys with names like:

[code]

The fate of the "location" key is unknown, but I see no reason to maintain both it _and_ the top-level keys.

[2016-01-01 15:18] bcipolli commented on #94
It'd be great to hear from others the problem trying to be solved by using `fips_id`. After researching further this morning, it's not clear to me. Instead, it's very clear to me what challenges we'll face by using `fips_id`, and why we'd want to avoid making that a core part of this app.

The main benefit I see for a globally unique ID:
*Is there any front-end use-case where we don't know the loc

[2016-01-02 15:22] bcipolli commented on #42
I believe this is done; closing.

[2016-01-02 15:22] #42 closed, assigned to bcipolli

[2016-01-02 15:22] bcipolli commented on #95
I believe this is done.

[2016-01-02 15:22] #95 closed, assigned to bcipolli

[2016-01-02 15:25] bcipolli commented on #15
I updated the title to reflect the issue. This is done; `requirements.txt` references the vanilla version of `calaccess_raw`.

[2016-01-02 15:25] #15 closed, assigned to bcipolli

[2016-01-02 15:30] bcipolli commented on #60
I've assigned this to myself on behalf of @andrell81 (who is leading the effort to understand the netfile data) and myself (my [database schema proposal](https://github.com/caciviclab/caciviclab.github.io/wiki/Data-relationships---Database-schema) for transforming the data is the only one I've seen so far).

This issue is kind of gigantic. It involves:
- Design a database schema
- Implement the sc

[2016-01-02 15:30] bcipolli commented on #60
Check that; this one is really about designing the database schema. Will open issues for the other two, if they don't already exist.

[2016-01-02 15:34] bcipolli opened #109 "Implement a database schema for storing transformed disclosure data"
In #60, we need to design a database schema for transforming raw netfile data to a format useful for our API and long-term maintenance.

This issue is for actually implementing the models from that schema.

https://github.com/caciviclab/caciviclab.github.io/wiki/Data-relationships---Database-schema is an example of such a schema; https://github.com/caciviclab/disclosure-backend/pull/103 is an exam

[2016-01-02 15:35] bcipolli commented on #109
I am very glad for others to take this on. For now, since I've got some initial work to prototype this, I am assigning to myself.

[2016-01-02 15:39] bcipolli opened #110 "Implement a management command to transform data from netfile schema to our own internal schema"
#103 designs the schema; #109 implements a schema. This issue is for implementing a management command that takes raw netfile data (either from csv files, or from the database) and creates the appropriate models in our internal schema.

Again, glad for anybody to take this on. Haven't heard a peep, and this is crucial to getting basic APIs up for the front-end. So I will assign this to myself and

[2016-01-02 15:53] bcipolli commented on #110
For anybody interested in playing with the data who doesn't know SQL but does know Python, try this branch:
https://github.com/bcipolli/opendisclosure-backend/tree/xform-netfile

Run:

[code]

This will break into the debugger and give you command-line access to the raw data as a pandas data frame. You can run:
- `data.keys()` to see all available columns
- `data['key_name'].unique()` to see all u

[2016-01-02 15:58] bcipolli commented on #110
My plan for prototyping this:
1. Read the raw csv using pandas.
2. Filter rows based on form (start with Form 460 or 497 data).
3. Get/create all location IDs. (iterate over unique names, use Django's `get_or_create`)
4. Get/create all candidate/ballot_measure_choice Ids (along with ballot/ballot_measure for 'unknown', if no ballot data has been entered for the candidate / ballot measure)
5. Get/c

[2016-01-02 18:34] mikeubell opened #111 "python manage.py downloadnetfilerawdata fails"
After pulling the latest repo (but it was happening before that), dropping and recreating callaccess_raw then running 'python manage.py downloadnetfilerawdata' eventually ends with:

Loading Agency CSV file
Traceback (most recent call last):
  File "manage.py", line 11, in <module>
    execute_from_command_line(sys.argv)
  File "/Users/ubell/disclosure-backend/env/lib/python2.7/site-packages/djang

[2016-01-02 21:34] adborden commented on #110
Yep, filtering based on form sounds like a great place to start. I'm not familiar with pandas, how does it help us in these steps? Sounds like pandas is more about analysis, but from what I understand about this ticket, this is mostly about mapping netfile fields to our models.

I think there are a number of challenges in these steps, so I was originally thinking we would have several management c

[2016-01-02 22:32] bcipolli commented on #111
@mikeubell Just to check: have you run the database migrations, via `python manage.py migrate`? IIRC, I get that error if I haven't done that.

[2016-01-02 23:05] adborden commented on #60
@bcipolli I can't assign @andrell81 until she accepts the invite to caciviclab.

[2016-01-02 23:26] bcipolli commented on #110
@aborden Thanks for the thoughts. My plan was to do a rapid prototype in a single management command, separating code by function. Refactoring into management commands shouldn't be hard, but doing all in one would make things easier to develop in the short-term.

Thanks for the notes on each item, it's very helpful! I will address each one as I go, so will update along the way. Lemme know if you h

[2016-01-02 23:51] adborden commented on #110
*clarification, the [data key](https://data.sfgov.org/City-Management-and-Ethics/Campaign-Finance-Data-Key/wygs-cc76) does claim that schedule A would have `bal_num` and `sup_opp_cd` and other office fields, which could be used to connect a contribution to a ballot measure and stance or candidate office. And while these fields do exist in the netfile data, they are not populated for form 460A.

[2016-01-02 23:53] adborden commented on #110
@bcipolli yeah, that strategy sound fine.

[2016-01-02 23:55] bcipolli commented on #110
@adborden re: Pandas, it's the main Python library for doing data analysis from CSV files. They have a lot of functions for selecting columns, filtering rows, visualizing data, and the like. It's based on the R language "DataFrame" object.

It's good stuff! http://pandas.pydata.org/

[2016-01-03 00:05] adborden commented on #110
So even though we have the data loaded into the DB, you plan on using pandas and the CSVs directly?

Is there a point to loading the netfile data into the DB as is using the existing calacces (the loading command that exists today)?

[2016-01-03 00:13] bcipolli commented on #110
Depends on how complicated the joins across the tables are. Pandas is definitely easier to work with than Django, if the JOINs are simple. Since Netfile has one main table (and two total), Pandas seemed like the way to go. And from where I come from, Pandas is a major library, very familiar, and a great tool for people to learn for filtering CSV data.

If the Netfile API can't be parsed with Panda

[2016-01-03 01:16] #26 closed, assigned to adborden

[2016-01-03 01:58] mikeubell commented on #111
I did migrate.
On Jan 2, 2016 2:32 PM, "Ben Cipollini" notifications@github.com wrote:

[2016-01-03 02:12] mikeubell commented on #111
Needed to run pip install -r requirements.txt

[2016-01-03 02:12] #111 closed, assigned to nobody

[2016-01-03 21:28] #27 closed, assigned to adborden

[2016-01-04 18:15] mikeubell opened #112 "netfile: No Data"
I have done the following steps:
535  pip install -r requirements.txt
  536  pip install -r requirements_dev.txt
  537  python manage.py migrate
  538  python manage.py test
  540  python manage.py downloadnetfilerawdata

ALL files report "No data" and there is very little data loaded.
The csv files have data.

[2016-01-05 02:53] bcipolli commented on #110
I filtered column definitions from https://data.sfgov.org/City-Management-and-Ethics/Campaign-Finance-Data-Key/wygs-cc76 (referenced in https://github.com/caciviclab/disclosure-backend/issues/60) with the netfile data obtained via the `downloadnetfilerawdata` management command, and I get:

[code]

[2016-01-05 17:10] bcipolli commented on #60
According to the data headers, the ballot measures should be embedded in the data. Unfortunately, netfile sets them all to `null`.

Seems useful to engage netfile and ask them why they have these fields if they're always `null`, and what would have to happen to make them _actually_ appear.

[2016-01-05 17:24] adborden commented on #94
I don't really understand what the this issue represents. What is this API endpoint going to be used for? The way I see it, there are two use cases involving locality (a geographic area):
- Identify what Ballot, and the corresponding finance data to show to the user. Your Ballot (what you vote on) is determined by your voting district, and hence your address. In v1, we're not going more granular t

[2016-01-05 17:29] adborden commented on #60
@bcipolli have you confirmed for which `transactionType` this is true? We've been aware that those headers are unpopulated, but I've only looked at transactionType 0, which corresponds to the form 460A. I was hoping there would be another form which would give us a clue.

@bcipolli are you and @andrell81 the best folks to reach out to Netfile?

[2016-01-05 17:59] bcipolli commented on #94
Zip codes to cities are a many-to-many relationship; you can't always pick a city from a zip code, nor vice verse. Zip codes are unaffiliated with any political zoning.

Regardless, we'll have to some value onto a locality ID. My only point here is that `fips_id` is strictly worse than a simple arbitrary internal ID. As far as I see, zip code doesn't solve the problem either.

I think zip code is

[2016-01-05 18:02] bcipolli commented on #60
@adborden I will look deeper into it; I do see some sparse population of that field. Is there somewhere that lists the meaning of the different `transactionType`s?

We will chat with our city contact tonight about reaching out to Netfile; she's made offers to us on multiple occasions to facilitate that.

[2016-01-05 18:33] adborden commented on #94
@bcipolli agreed, I'm just describing a use case based on mapping zipcodes to localities. I'm not proposing anything about what to use as the primary identifier. BTW, the zipcode issue has been discussed on several occasions, I'll open an issue so we can track it better.

In fact, my point is more that there are multiple use cases, so going with an arbitrary Id would be preferred, but we'll still

[2016-01-05 23:26] adborden commented on #60
@bcipolli It's from the netfile API, link above. Here's a csv sample.

https://drive.google.com/open?id=0BzfApHVcD3yDWlhBbE1pOWdQakk

[2016-01-06 04:35] adborden commented on #7
@bcipolli as written, I don't think this is correct. I think we should re-write this story. I think it mostly corresponds to the `/ballot/:locality_id` endpoint from [the wiki](https://github.com/caciviclab/caciviclab.github.io/wiki/Data-relationships---Database-schema#feeds-1).

[2016-01-06 04:36] adborden commented on #6
@bcipolli as written, I don't think this is correct. I think we should re-write this story. I think this is more like an endpoint for the proposed `BallotMeasureChoice`, but I don't think this is needed right now, probably de-prioritize.

[2016-01-06 15:15] bcipolli commented on #112
I'll take a look at this.

[2016-01-06 15:16] bcipolli commented on #110
At our brigade meeting last night, @mrmaximize offered to help make this happen. Please read this thread to get the latest info and find the reference to a branch where we're exploring these things!

[2016-01-06 15:21] bcipolli commented on #110
At our brigade meeting last night, @mrmaksimize offered to help make this happen. Please read this thread to get the latest info and find the reference to a branch where we're exploring these things!

[2016-01-06 16:04] bcipolli commented on #112
@mikeubell I'm not able to reproduce this error. The only error I see is that `netfile_agency.csv` is saved to the wrong directory, but things load just fine to me.

Can you try running with a subset of the data?
`python manage.py downloadnetfilerawdata --agencies ANA`

[2016-01-06 16:50] adborden opened #114 "Migration missing for ballot's contest model"
From a clean DB, `migrate` complains about model changes.

[code]

[code]

The migration adds options for the `Contest.contest_type` field.

[2016-01-06 17:04] #114 closed, assigned to adborden

[2016-01-07 01:06] MrMaksimize commented on #110
Got some changes going here:
https://github.com/MrMaksimize/disclosure-backend/tree/xform-netfile

@bcipolli updated your branch with current master and moved the command to the disclosure_backend directory.  Unless there's a reason you wanted it separate.

More updates as I go along :)

[2016-01-07 01:07] bcipolli commented on #110
Cool! The directory thing was due to downstream directory name changes that I was working off of; no sweat.

[2016-01-07 03:56] mikeubell commented on #112
The problem is that if the cvs files are there but there is no data in the database, nothing gets loaded.

[2016-01-07 04:03] bcipolli commented on #112
Again, I wasn't able to reproduce this issue. I cloned the repo from scratch and ran the commands exactly as you said... the data were all there for me.

[2016-01-07 04:05] mikeubell commented on #112
Drop and recreate the database then run the load.  All files report “No data”.

[2016-01-07 07:47] adborden commented on #10
:+1:

[2016-01-07 07:47] #10 closed, assigned to bcipolli

[2016-01-07 07:55] adborden commented on #46
Yeah, this is different than the backup story. The backup story is about preserving the production DB in case of a disaster.

This story is more about fleshing out [ballot data](https://github.com/caciviclab/disclosure-backend/blob/master/ballot/fixtures/ballot_data.json) for your dev instance so that when you're running the app locally, the app is usable. I suppose there is a distinction here. Si

[2016-01-07 07:57] adborden commented on #46
If we had data on http://admin.caciviclab.org/, we could add a management command that pulls from there and skip the json fixture data.

[2016-01-07 09:37] jnmarcus commented on #94
@bcipolli FIPS ids were suggested as an alternative for unique ids, when we were trying to come up with a way to deal with cross-referencing that didn't involve matching strings, as this a) could be memory/process intensive, and b) could result in false representations of the data.

Basically, a couple of the problems we were trying to solve were:
- when you have a county with the same name as its

[2016-01-07 17:31] bcipolli opened #116 "Converting among different locality representations."
From last night's brigade meeting, sounds like an arbitrary locality ID is the best way to go for ballot / ballot measures (see https://github.com/caciviclab/disclosure-backend/issues/94#issuecomment-168312777 and subsequent discussion for details). Contributions can be identified by zip code to begin.

We will need some code to map between ballot measure locality and zip codes. This issue is for

[2016-01-07 18:10] bcipolli commented on #116
Besides the references from the linked comment above, @andrell81 and I found this to be potentially useful:
https://www.census.gov/geo/reference/geoidentifiers.html

And this code may be useful for mapping localities to actual regions on a map:
https://github.com/bcipolli/census-shapefile-utils

Also moderately interesting:
http://census.ire.org/docs/json.html

[2016-01-10 03:48] adborden commented on #112
@mikeubell I think what you're seeing is fixed by https://github.com/caciviclab/disclosure-backend/pull/122

Can you try again from master?

[2016-01-10 04:21] adborden opened #125 "Incremental import of 2016 netfile data"
Two parts, first, lets add 2016 to the list of years that we pull from netfile.

The second part, we now try to be a little smarter about only importing data we haven't yet imported. The current implementation works on a per-file basis and therefore imports the entire year at a time. This won't work for 2016, where data will be rolling in based on the filing schedule. Having a data file for 2016 d

[2016-01-10 04:27] adborden commented on #125
Some exploration... the export endpoint `/public/campaign/export/cal201/transaction/year` isn't returning any 2016 data yet but the transaction search endpoint `/public/campaign/search/transaction/query` does. The transaction search endpoint also allows us to specify a `dateStart` parameter which we can use to pull all the transactions since our last fetch by specifying the most recent transaction

[2016-01-10 04:29] adborden commented on #125
cc @bcipolli @andrell81 questions for netfile ^^

[2016-01-10 04:32] tdooner commented on #125
Also, I suspect we'll need to be careful regarding amendments. I believe amended filings usually contain all the original rows but with a larger value for the `Report_Num` field.

[2016-01-10 04:59] adborden commented on #125
Yeah, I think the amendments will be handled by the data pipeline, this story is about fetching/importing raw transactions into `netfile_raw`.

[2016-01-10 05:19] adborden commented on #12
@andrell81 I think "connect the different names of things to the actual things" is referring when a single entity has many records, each with a different name. How do we associate those names back to the single entity. Here's a use case I suspect we're going to run into:

Without any corrections we would just treat these as 4 different entities.

I'm fine to punt on this, I have an idea of how dif

[2016-01-10 20:39] mikeubell commented on #112
I pulled and ran it again and it failed with:
IOError: [Errno 2] No such file or directory: u'/Users/ubell/disclosure-backend/disclosure/../data/calaccess/csv/netfile_agency.csv'

[2016-01-10 20:47] bcipolli commented on #112
@mikeubell Can you give some more details:
- Is this after all files were downloaded?
- Can you copy/paste the entire call stack? I need to know where the error occurred, not just what the error was.

Thanks!

Note: I was able to start the download:
![image](https://cloud.githubusercontent.com/assets/4072455/12223878/ec964ab0-b797-11e5-8e95-5c5df3acd33e.png)

I can see that the path in yours looks

[2016-01-10 20:49] bcipolli commented on #112
Note that I am getting data where data is available; it's not all `No data` for me. Are you still seeing that @mikeubell ?:
![image](https://cloud.githubusercontent.com/assets/4072455/12223901/7daeab00-b798-11e5-8cad-1c52e9198d16.png)

[2016-01-10 21:27] bcipolli opened #127 "Re-enable dependency on caciviclab's calaccess_raw repo"
I've been using some updates to `calaccess_raw` that are hung up in pull requests.

To keep better synchronization across our teams and to move faster, lets make sure that PRs to `calaccess_raw` go both to our copy of the repo, as well as the official one. We can merge ours more quickly (for sharing across the team), and not get out of sync waiting for `calaccess_raw` changes.

I have a bit of wor

[2016-01-10 21:53] mikeubell commented on #112
Sorry, I thought that was already in the issue, but I think I previously sent it directly:
Combining 136 csv files.
Loading Agency CSV file
Traceback (most recent call last):
  File "manage.py", line 11, in <module>
    execute_from_command_line(sys.argv)
  File "/Users/ubell/disclosure-backend/env/lib/python2.7/site-packages/django/core/management/**init**.py", line 338, in execute_from_command_l

[2016-01-10 21:55] bcipolli commented on #112
Thanks. This may be related to #127 . I will have time to check this out in a couple of hours.

[2016-01-11 18:39] mikeubell commented on #112
I got a good download from an empty data/ directory and database.
Dropping the database and recreating and then doing the download results in:
(env)ubell@MacBook-Pro ~/disclosure-backend » python manage.py downloadnetfilerawdata
Downloading raw data files
Found 68 agencies
Downloading data for 68 agencies in years 2014,2015
Combining 136 csv files.
Loading Agency CSV file
Traceback (most recent ca

[2016-01-11 18:41] bcipolli commented on #112
Did you run `python manage.py migrate` after dropping the db and before running the command?

[2016-01-11 18:41] mikeubell commented on #112
DOH!

[2016-01-11 18:43] mikeubell commented on #112
Sorry, things look good.  Was multitasking this morning.

[2016-01-11 18:43] #112 closed, assigned to bcipolli

[2016-01-11 18:45] bcipolli commented on #112
Haha after all the pain I've put you through to find and fix this, I think there's plenty more room for pilot error on your side :) Glad to hear things are working, and can't wait to get you onto some of the latest code!

[2016-01-13 22:08] rkiddy opened #131 "possible path problem with netfile imports"
I am updating things and seeing where things are. The setup is good so far, but when I run the netfile import, I see a problem.

[code]

It looks as though the file is being looked for in data/calaccess/csv and the file is actually located in data/netfile/csv.

[2016-01-13 22:12] bcipolli commented on #131
With the latest update, you'll need to re-run `pip install -r requirements.txt`. Can you verify that you did that?

[2016-01-13 23:02] bcipolli opened #132 "Add a CONTRIBUTING.md file"
https://github.com/blog/1184-contributing-guidelines

I would like to see this include:
- A bit about setting up a test environment
- A bit about where to find specs & technical docs (including the glossary).

Writing code:
- A bit about overall app structure, and how to keep apps relatively light-weight
- A bit about docstrings and `help_text`
- A bit about test coverage
- A bit about code format

[2016-01-13 23:09] mikeubell commented on #88
Now I am confused... having procrastinated long enough there no longer seems to be a candidate model. The BallotItemResponse claims to be for a referendum or candidate, but I don't see any fields that are useful for a candidate.

[2016-01-13 23:17] mikeubell commented on #88
Ok, I guess the candidate has moved to office_election/models.py and the Party field has been added. I am guessing the comment in BallotItemResponse that says it can be a candidate is wrong.
I will close this issue.

[2016-01-13 23:17] #88 closed, assigned to mikeubell

[2016-01-13 23:39] mikeubell opened #133 "BallotItemResponse should be BallotItemDescription"
The BallotITemResponse model contains the title, text and arguments for and against a measure.  Also the comment says: YES/NO to a referendum, or a candidate.  Which does not describe it at all.

[2016-01-13 23:46] bcipolli commented on #133
Hey @mikeubell , thanks for the feedback! Each entry in that table represents a possible response to a `BallotItem`.  For binary referendums, we'll have one `BallotItemResponse` for "YES", one for "NO". For office elections, we'll have one `BallotItemResponse` per candidate.

It looks like the `BallotItem` doesn't have a `description`/`text` field to describe the `BallotItem` beyond the name. Woul

[2016-01-14 00:20] mikeubell commented on #133
I don't understand this.  What do you mean an Response for "YES" and one for "NO"?  Is this for getting election results?  Where/how?

BallotItemResponse has fields: title, brief, full_text, {pro,con}_statement, ballot_item.  How can this be a "response"?  This describes (or really defines) the ballot item.  There is no fields for describing candidates.

[2016-01-14 02:30] adborden commented on #132
Sounds good. I've been meaning to finalize [this PR](https://github.com/caciviclab/caciviclab.github.io/pull/5) for an orgwide Code of Conduct... but I'd like all project CONTRIBUTING to include a link to the org's CONTRIBUTING.

[2016-01-14 18:46] rkiddy commented on #131
I could not re-run the requirements fetch. I got different, weirder errors. But enough things had changed that I thought it would worth it to start anew.

When I did this, things seem to work fine.

Some of the netfile fetches give a "No data" message, but I assume that it known and may not be an error.

[2016-01-14 18:46] #131 closed, assigned to nobody

[2016-01-14 18:50] rkiddy opened #135 "error from trying to download calaccess data"
I am sorry if I am catching things while things are up in the air. If you all want me to back off for a little while, that would be fine. Otherwise, I am seeing what I am seeing.

[code]

[2016-01-14 18:51] bcipolli commented on #135
Cool with me. This looks like a config issue. Did you set up a `settings_local.py`? Can you confirm that you followed all the installation steps, including the migrations, outlined in the `README.md` file?

[2016-01-14 21:52] rkiddy commented on #135
Yep. I got this out my history:

[code]

[2016-01-14 22:03] #90 closed, assigned to bcipolli

[2016-01-14 22:03] bcipolli commented on #135
Ah, ok, I remember now--this is a duplicate of https://github.com/caciviclab/disclosure-backend/issues/90 .

I just merged a fix; can you pull the latest code and retry? Just need to `pip install -r requirements.txt`

[2016-01-15 01:11] rkiddy commented on #135
And it works. At some point, I will get past finding dupes. It is hard to avoid doign this occiasionally, though.

[2016-01-15 01:11] #135 closed, assigned to nobody

[2016-01-15 01:11] bcipolli commented on #135
Glad that it works. No worries! I mean goodness, I opened that issue and it even took me a while to find it :P

[2016-01-18 04:38] adborden opened #142 "downloadnetfilerawdata with --skip-download crashes"
[code]

[2016-01-18 04:41] bcipolli commented on #142
:+1: and indicates some useful tests to add. Cool!

[2016-01-18 15:28] bcipolli commented on #14
@adborden Are  you thinking of anything beyond properties of the `committee` and `ballot_measure_response`? If not, do we need a separate model?

Right now, this is a property on the committee directly. It's only one property, and every committee has to have a value, so this seemed easiest.

Glad to understand what you have in mind better.

[2016-01-18 15:36] bcipolli commented on #31
@adborden Any objection if we move this to the frontend repo?

[2016-01-18 15:38] bcipolli commented on #132
Duplicate of #33

[2016-01-18 15:38] #132 closed, assigned to nobody

[2016-01-18 15:40] bcipolli commented on #45
For reference: `ImageField` is used for `office_election.SocialMediaMixin`.

[2016-01-19 18:02] bcipolli opened #144 "Refactor commands to use Django's new argument parsing logic"
`calaccess_raw` just updated things from their side (https://github.com/california-civic-data-coalition/django-calaccess-raw-data/pull/1177). We should pull their code (it's good stuff!) and do a PR to work with that.

[2016-01-21 05:24] bcipolli commented on #133
@mikeubell Has this been resolved to your satisfaction?

[2016-01-21 05:51] mikeubell commented on #133
👍

[2016-01-25 07:22] bcipolli opened #148 "civic.json per spec"
https://github.com/BetaNYC/civic.json/blob/master/specification.md
- `needs` should be an array of `need` objects.
- `categories` should be an array of `category` objects.

[2016-01-25 13:54] #133 closed, assigned to bcipolli

[2016-01-25 13:54] #127 closed, assigned to bcipolli

[2016-01-25 18:13] bcipolli commented on #12
It's unclear to me what problem this is trying to solve. Entity resolution/mapping should be an issue, but that's not correction/auditing. And each netfile row comes with an ID (which we store), so we always map a row in our schema to the raw data row--that's easy.

Is this issue about, say, detecting when a contribution amount doesn't make sense, and guessing the true value?

[2016-01-25 18:15] bcipolli commented on #17
@seanius I understand this better now. You want a UI for non-programmers to help normalize the data. That would be nice, but I think for now having non-programmers talk to programmers to implement these things is enough. If it becomes a bottleneck, we can revisit.

[2016-01-25 18:25] bcipolli commented on #19
We need this ASAP, for past ballots. Can someone take this on?

[2016-01-25 18:25] bcipolli commented on #28
Fixed in f98d3ab

[2016-01-25 18:25] #28 closed, assigned to bcipolli

[2016-01-25 18:29] bcipolli commented on #31
no response = no objection :) Please see https://github.com/caciviclab/disclosure-frontend-alpha/issues/84

[2016-01-25 18:29] #31 closed, assigned to ajmobidesign

[2016-01-25 18:30] bcipolli commented on #45
@adborden What is the use-case for this? Why can't we download & host locally?

[2016-01-25 18:34] bcipolli commented on #57
I think this ought to be pushed off; our data sourcing is quite simple at the moment and we're making slow progress on core components.

[2016-01-25 18:35] bcipolli commented on #58
This should be taken care of soon, to facilitate front-end development.

[2016-01-25 18:40] bcipolli commented on #94
Since we have an internal `id` for localities now, mapping to FIPS can be pushed off a bit. It's great to provide front-end links with meaningful Ids (like FIPS), and to allow searches... but this no longer blocks general API development.

[2016-01-25 18:41] bcipolli commented on #109
This is done.

[2016-01-25 18:41] #109 closed, assigned to bcipolli

[2016-01-25 18:41] bcipolli commented on #110
The basic command is complete. We should open new issues to address individual shortcomings.

[2016-01-25 18:41] #110 closed, assigned to bcipolli

[2016-01-25 18:42] bcipolli commented on #144
This should include changes for #142

[2016-01-25 18:52] bcipolli commented on #93
@adborden How's this look, to start?
https://github.com/caciviclab/caciviclab.github.io/wiki/On-boarding-a-new-city

[2016-01-26 02:59] adborden opened #149 "Search docs not showing up"
Unable to read api 'search' from path http://127.0.0.1:8000/docs/api-docs/search (server returned INTERNAL SERVER ERROR)

Stack trace:

[code]

Looks like we deleted a file.

[2016-01-26 03:07] adborden commented on #148
I had to ping @ondrae because something seemed a little fishy about the the example civic.json files I saw in other projects. Turns out CFAPI has it's own spec: https://github.com/codeforamerica/brigade/blob/master/README-Project-Search.md#civicjson

[2016-01-26 03:11] adborden commented on #148
I should read before I type... :expressionless:

Looks like the CFAPI stuff is limited in what it supports, only two fields. Let's conform the civic.json to BetaNYC's spec, and add the `tags` field as per CFA. Assuming it doesn't break anything, we can support both.

[2016-01-26 06:49] bcipolli commented on #149
Very interesting. I definitely deleted that file, and the tests definitely passed.

I'll check into undeleting the file and figure out why our tests didn't catch that. Assigning to: me!

[2016-01-27 17:12] bcipolli opened #152 "View to list missing Ballot data"
Scripts run to pull finance data from Netfile. In some cases, connections between finances and ballot item responses cannot be drawn and must be updated manually.

We should have a view that a site maintainer can browse to that:
- Lists which new committees are not linked to a ballot item response.
- Lists any new ballot items or ballots that need updating.

[2016-01-27 18:31] bcipolli opened #153 "Rename CorporateBenefactor to OtherBenefactor model"
We currently assume that "other" benefactors are corporate benefactors. @andrell81 says this isn't appropriate.

We should rename `CorporateBenefactor` to `OtherBenefactor`. If we can verify some of the `OtherBenefactor`s, perhaps we can move them across tables... or slap on a property that labels them as verified corporate benefactors.

[2016-01-27 18:32] bcipolli opened #154 "Add city, zip to IndividualBenefactor"
City/zip can be added via `AddressMixin`.

This is needed to get some info about who is whom.

[2016-01-27 18:34] bcipolli opened #155 "Store cumulative total for the year on IndependentMoney"
@andrell81 suggests this could help associate individuals inside `xformrawnetfiledata`

[2016-01-27 18:59] bcipolli opened #156 "Rename committee types"
Currently, the committee types shown in the admin panel do not match the names used in our Campaign Finance docs:
https://github.com/caciviclab/caciviclab.github.io/wiki/Campaign-Finance#types-of-committees
vs
![image](https://cloud.githubusercontent.com/assets/4072455/12624655/f7e5447a-c4e4-11e5-91a5-21f8eaee6bd5.png)

[2016-01-27 19:01] bcipolli opened #157 "Add meaningful strings to Django admin dropdowns"
Some objects don't have `__str__` defined, and so don't show good info.
e.g.
![image](https://cloud.githubusercontent.com/assets/4072455/12624702/3ab40a5c-c4e5-11e5-86a0-458386baa99e.png)

![image](https://cloud.githubusercontent.com/assets/4072455/12624707/4018c6b8-c4e5-11e5-8e9a-0f33ec6174f8.png)

[2016-01-27 19:02] bcipolli opened #158 "Benefactor shows a "type" and "benefactor_type: that seem equivalent"
![image](https://cloud.githubusercontent.com/assets/4072455/12624723/56771a68-c4e5-11e5-95a0-3c948f6bb0bd.png)

If they are the same, one should be hidden and set to the other.

[2016-01-27 19:03] bcipolli opened #159 "Sort dropdown data in admin panel"
Currently, data are unsorted--which makes it hard to find entries.

Do this for zip code, city, state, name, etc.

![image](https://cloud.githubusercontent.com/assets/4072455/12624758/90e7d3fe-c4e5-11e5-89ad-11857a69e85a.png)

[2016-01-27 19:08] bcipolli commented on #158
Also on corporatebenefactor:
![image](https://cloud.githubusercontent.com/assets/4072455/12624932/519ae88e-c4e6-11e5-9958-91482f7f0798.png)

[2016-01-28 05:06] #157 closed, assigned to nobody

[2016-01-28 07:05] adborden commented on #31
On Mon, 2016-01-25 at 10:29 -0800, Ben Cipollini notifications@github.com wrote:

:+1:

##

Aaron Borden
Human and Hacker

[2016-01-28 13:52] #148 closed, assigned to adborden

[2016-01-28 14:17] #159 closed, assigned to bcipolli

[2016-01-28 14:21] bcipolli commented on #60
@andrell81 chatted yesterday about the current work and what needs to change. More needs to be done for other form data.

[2016-01-30 20:07] tdooner commented on #19
Does anyone have a lead on where we can find good election/ballot information? VIP looks promising but I can't find any actual data from them. Otherwise we should probably close this and just assume we're putting it all in by hand. Even the CA SOS page is pretty useless: http://www.sos.ca.gov/elections/upcoming-elections/general-election-november-8-2016/.

[2016-01-31 18:52] tdooner opened #165 "Add error tracking"
Sentry / Airbrake / something

[2016-01-31 19:12] bcipolli opened #166 "Import/export data to the VIP project"
We will manually enter ballot information. It would be great to sync up with the VIP project--pull data from in the future, and share our manually entered data with them.

[2016-01-31 19:33] tdooner opened #167 "Transfer caciviclab.org domain from John Osborn"
We should get control of the domain from John. He has graciously offered to cover costs himself, but we have a tiny budget from CfA that can be used for this instead, and also us having control will be good for things like adding new domains in the future.

[2016-01-31 19:39] bcipolli opened #168 "Don't double-add entries from netfile"
We should make `finance.IndependentMoney` unique on `('source', 'source_xact_id')`. The `xformrawnetfiledata` should `get_or_create` on those two fields.

[2016-01-31 19:43] bcipolli opened #169 "Make sure that optional fields on models are marked as optional."
Seems that they are not; when I open a `candidate` and re-save, I get a whole lotta errors:

![image](https://cloud.githubusercontent.com/assets/4072455/12704423/b288fc2c-c80f-11e5-87dd-faa86c0b1373.png)

[2016-01-31 21:12] mikeubell commented on #153
Looking at Oakland data to see what other than Corporations would be labeled OTH I see some PACs and individuals are labeled OTH.  These could be data errors. I have an email into Malid for possible clarification.

[2016-01-31 21:16] bcipolli commented on #153
@andrell81 pointed out that "corporation" is rather specific; small business can appear in "other". But it's unclear what else...

[2016-01-31 21:51] mikeubell commented on #153
I would think we might want to distinguish "commercial" benefactors vs. other benefactors that might fall into this category. Or do we want to distinguish LLC vs. S corporations vs. C Corporations.

[2016-01-31 22:02] mikeubell commented on #153
ACtually its "CorporationBenefactor" in the code not "CorporateBenefactor"

[2016-02-01 15:38] #153 closed, assigned to mikeubell

[2016-02-01 15:57] #142 closed, assigned to bcipolli

[2016-02-02 06:41] adborden commented on #166
I didn't think VIP project had any data, they're just working on a spec
so that orgs _with_ the data could be compatible with other orgs with
data.

On Sun, 2016-01-31 at 11:12 -0800, Ben Cipollini notifications@github.com wrote:

##

Aaron Borden
Human and Hacker

[2016-02-02 06:52] adborden commented on #155
A little more detail here? Cumulative total of `IndependentMoney` for a
single Beneficiary over a year?

On Wed, 2016-01-27 at 10:34 -0800, Ben Cipollini notifications@github.com wrote:

##

Aaron Borden
Human and Hacker

[2016-02-02 06:53] adborden commented on #149
If we want to write a test for this, I would look into one of the python
swagger spec validators at swagger.io and point it at the spec endpoint.
We can do some additional validations like every operation has a
"nickname" field.

In that case, this test would have probably failed with a 500.

On Mon, 2016-01-25 at 22:49 -0800, Ben Cipollini notifications@github.com wrote:

##

Aaron Borden
Human a

[2016-02-03 20:22] bcipolli opened #175 "Paginate API responses"
This is a "best practice" for avoiding huge data dumps via the API.

Looks like the Django REST framework has reasonable support for this:
http://www.django-rest-framework.org/api-guide/pagination/

[2016-02-06 16:59] #168 closed, assigned to mikeubell

[2016-02-08 14:12] bcipolli commented on #19
Bottom line is, we don't have one. I will punt this to a later milestone, as we should continue to search for a data source in the future.

[2016-02-08 14:13] bcipolli commented on #11
We have enough docs to get started. We should update the docs for the first RC. Punting until then.

[2016-02-09 18:36] bcipolli commented on #6
We have flattened this API call, but this is available via the following endpoints:
`/ballot/{ballot_id}/disclosure_summary` - summary of disclosure data for a ballot/election
`/ballot/{ballot_id}` - ballot info, including referendums and office elections
`/office_election/{office_election_id}` - list of candidates for an office election.

And similar endpoints.

[2016-02-09 18:36] #6 closed, assigned to nobody

[2016-02-09 18:36] bcipolli commented on #7
See #6 for relevant API endpoints.

[2016-02-09 18:36] #7 closed, assigned to bcipolli

[2016-02-09 18:37] bcipolli commented on #61
This was fixed in #177

[2016-02-09 18:37] #61 closed, assigned to jnmarcus

[2016-02-09 18:38] bcipolli commented on #69
Fixed in #177

[2016-02-09 18:38] #69 closed, assigned to bcipolli

[2016-02-09 18:39] bcipolli commented on #107
We didn't use `FIPS`, but we added a `/locality/{locality_id}` endpoint, as well as a `/locality/search` endpoint. I believe that addresses this issue.

[2016-02-09 18:39] #107 closed, assigned to nobody

[2016-02-09 18:44] #93 closed, assigned to bcipolli

[2016-02-09 18:44] bcipolli commented on #33
Fixed in #181

[2016-02-09 18:44] #33 closed, assigned to bcipolli

[2016-02-09 18:45] bcipolli commented on #58
Per documentation on good APIs, we should return URLs to candidate photos (when available).

Will punt this to 0.2; this didn't have to be done for the API...

[2016-02-09 19:03] bcipolli opened #182 "Add method for defining what data (cities, years) are part of the cron process."
This will make it easier for cities to add themselves to this project, and easier to set up a test system that mirrors the production system.

Assigning to the 1.0 RC, as I think this is helpful for making sure our test systems mirror our deploy system.

[2016-02-09 19:04] bcipolli commented on #12
Note that the `django.contrib.admin.models.LogEntry` model tracks changes; we could use a post-save callback to annotate the annotations :)

[2016-02-09 20:31] bcipolli commented on #89
@mikeubell Do we need this field for anything? We pass the city `shortcut` in to the script, and we can resolve that to the city name...

[2016-02-09 20:42] bcipolli commented on #169
This is simply setting `blank=True` on appropriate fields of a model.

[2016-02-09 20:51] bcipolli commented on #149
Fixed in #177

[2016-02-09 20:51] #149 closed, assigned to bcipolli

[2016-02-09 20:59] bcipolli commented on #155
@adborden Yes, exactly!

[2016-02-09 21:08] bcipolli commented on #60
I'm going to close this item, as the main Form 460 data transformation is "done" (we have issues for entity resolution, but we are using the data well). Will open specific issues for other form data.

[2016-02-09 21:08] #60 closed, assigned to andrelllb

[2016-02-09 21:09] bcipolli commented on #152
@mrmaksimize this is a super-fun one--you get to create a HTML-based view that shows a queryset of ballot objects that need to be manually entered and other cool stuff. Up for doing this one? @andrell81 and I can help you understand the finance details--they're not hard here.

[2016-02-09 23:43] mikeubell commented on #89
How do we tell what records are for which city?

[2016-02-10 02:04] bcipolli commented on #89
We have a list of cities from netfile to download. Then we get data from each city individually. So we know the city for each row already, when we download each csv file. So I think this information is duplicate.

[2016-02-10 02:57] mikeubell commented on #89
Given that, I agree that it is redundant.
On Feb 9, 2016 6:04 PM, "Ben Cipollini" notifications@github.com wrote:

[2016-02-10 03:14] MrMaksimize commented on #152
Hmm I'll give it a shot -- I might need you to point me in a direction to get started though.  Not sure how to even approach in django

[2016-02-10 04:27] mikeubell commented on #158
Am I right in thinking we do this via adding a ModelAdmin to exclude those fields?
+class CommitteeBenefactorAdmin(admin.ModelAdmin):
-    exclude = ('benefactor_type', 'benefactor_locality')
  +

[2016-02-10 04:37] adborden opened #188 "Can't find libcgraph when installing pygraphviz"
https://gist.github.com/adborden/f90b3870e874961b8e46

[code]

Probably want to add this dep to the README. Anyone on a mac want to post what the correct fix is?

[2016-02-10 04:40] adborden commented on #188
Ah, silly me, it's already updated.

[2016-02-10 04:40] #188 closed, assigned to adborden

[2016-02-10 05:32] bcipolli commented on #89
Great, that makes life easy :D Closing!

[2016-02-10 05:32] #89 closed, assigned to mikeubell

[2016-02-10 05:36] bcipolli commented on #152
@MrMaksimize How about I get it started to give you an idea of the pieces, create a "Work in Progress" pull request for you to review, and you can run from there?

[2016-02-10 05:43] bcipolli commented on #158
@mikeubell That sounds about right, but I'm not 100% sure that will solve all the problems, or is the best way to address the issue. There are duplicate fields that need to stay in sync..

[2016-02-10 18:29] bcipolli opened #191 "Entity resolution on Locality"
How many times and ways can `San Fransisco` be added? lol

![image](https://cloud.githubusercontent.com/assets/4072455/12957359/48a6c8f0-cffa-11e5-991e-a4732c13be35.png)

[2016-02-10 18:37] bcipolli opened #192 "Filter localities in admin panel"
Right now, all localities are loaded in all views. This is SLOW; there are tons, and we do a reverse string lookup to make them render meaningfully.

Better is to filter OUT zip-codes when displaying in the admin; they are never appropriate for our various locality filters (ballots, committees, etc).

[2016-02-10 19:09] bcipolli opened #195 "Entity resolution on people"
Should we combine people that match based on name, address, and `cumulative_money`? Or should we remain agnostic and create a new person for every `IND` row in Form 460 Schedule A?

Seems to me that we should combine... I don't see any downside. Either way (combine/not combine) is incorrect, but combining will be a more accurate estimate of the total # of individuals participating.

@andrell81 @as

[2016-02-10 19:12] bcipolli opened #196 "Unstub API endpoints"
Each API endpoint must be unstubbed, to use live data.

We don't need this immediately; the front-end is unblocked with the stubbed data. However, we do need this for the first RC (and hopefully earlier!)

@MrMaksimize assigning to you. Keep working with Serializers to make this happen!

[2016-02-10 19:18] bcipolli commented on #165
For those not in the know: this is for logging server errors to a web-accessible admin interface:
![image](https://cloud.githubusercontent.com/assets/4072455/12958722/1b69fc98-d001-11e5-9cc0-4a435597fa9b.png)

[2016-02-10 19:23] bcipolli commented on #58
Fixed in #187

[2016-02-10 19:23] #58 closed, assigned to bcipolli

[2016-02-10 19:23] bcipolli commented on #156
Fixed in #183

[2016-02-10 19:23] #156 closed, assigned to nobody

[2016-02-10 19:29] mikeubell commented on #195
I think we should combine on name and address (I think we only have zip code).  Does a benefactor have a cumulative_money?  I am thinking it only applies to beneficiaries, my memory could be wrong.

[2016-02-10 19:32] bcipolli commented on #195
I think we have address too... but this too will take entity resolution (i.e. there will be lots of mistakes & variations!)

We have `cumulative_money` for benefactors (not beneficiaries), so yes, we can use that too.

I agree that combining on all these factors (with some sludge-factor for errors in the data) is a good idea.

[2016-02-10 19:36] bcipolli commented on #12
For now, we have the Django admin log. I think this is enough for the time-being. So, I pushed this off to post-RC1. Thoughts?

![image](https://cloud.githubusercontent.com/assets/4072455/12959229/91da043e-d003-11e5-9b75-d4019f8ee324.png)

[2016-02-10 19:36] bcipolli commented on #192
@mikeubell I like what you've been doing with the admin panel. Could you try this one as well?

[2016-02-10 19:42] bcipolli commented on #125
@adborden Thanks for the info! We should hop to this ASAP. I will take a quick look now.

[2016-02-10 19:43] bcipolli commented on #125
Note that with #185, we don't necessarily have to skip pulling old data. Indeed, it may be useful to have some date overlap when pulling to start, to be robust against any possible Netfile weirdness in reporting.

[2016-02-10 20:19] bcipolli commented on #125
Sadly, the schema difference between the `ByYear` and `Query` endpoints greatly differ. I will try to get in touch with our Netfile contact to discuss.

[2016-02-10 21:05] mikeubell commented on #195
In the Oakland data we used name and zip and it  got many cases.
On Feb 10, 2016 11:33 AM, "Ben Cipollini" notifications@github.com wrote:

[2016-02-10 22:58] mikeubell commented on #192
I wondered why it is so slow.  I'll take a look.
On Feb 10, 2016 11:37 AM, "Ben Cipollini" notifications@github.com wrote:

[2016-02-11 01:19] #158 closed, assigned to mikeubell

[2016-02-11 01:33] bcipolli commented on #191
Sometimes locality can be an address, or zip&state
![image](https://cloud.githubusercontent.com/assets/4072455/12967533/763514d0-d035-11e5-8cc5-dcadb7446772.png)

[2016-02-11 03:49] bcipolli commented on #191
Getting better after splitting and normalizing capitalization. But still spelling errors; notice "La Jolla", "Lo Jolla", and "Lajolla".

Is it better to compute how close the different words are to each other, and resolve automatically ones that are "close enough"? Or is that too hard/dangerous, and we should add an "aliases" field that can be manually built up?

![image](https://cloud.githubuserc

[2016-02-11 03:53] bcipolli commented on #191
I think the right way is to allow users to add "aliases" (a comma-deliminted list). Then, if they enter one and save, we have a chance to "auto-merge" rows, i.e. to change all foreign keys of the row to be deleted, to the new value.

[2016-02-11 06:59] bcipolli commented on #191
Still far from perfect, but much more promising.

![image](https://cloud.githubusercontent.com/assets/4072455/12970941/c32c0776-d062-11e5-9472-0f46c8cc3c5e.png)

[2016-02-11 13:18] bcipolli opened #200 "Alert admins of database changes without a backup."
Rather than back up the entire database, we can use `LogEntry` to identify models that have changed, and to dump their information to a json file.

We should alert admins when a `LogEntry` has a newer date than the json file.

[2016-02-11 15:37] bcipolli opened #203 "Understand negative Form 460A contributions"
I see these fly by... and they don't make sense. A quick query says they're about 0.6% of the data (282/45300 transactions in my local machine db).

What do they mean? What are we supposed to do with them?

[2016-02-11 16:07] mikeubell commented on #203
I believe they are returned contributions. Just add the (negative) value to
the total contributions.
On Feb 11, 2016 7:37 AM, "Ben Cipollini" notifications@github.com wrote:

[2016-02-11 20:42] bcipolli commented on #41
We can simply schedule a cron job for #202 for the RC1. We don't need a full database backup, just a backup of the manual changes made.

[2016-02-11 20:43] bcipolli commented on #155
Fixed

[2016-02-11 20:43] #155 closed, assigned to bcipolli

[2016-02-11 20:43] bcipolli commented on #169
Fixed

[2016-02-11 20:43] #169 closed, assigned to bcipolli

[2016-02-11 20:44] bcipolli commented on #195
@mikeubell do you want to try this out? I think you've got the hang of this.

[2016-02-11 23:39] mikeubell opened #204 "Adding Candidates or OfficeElections via Admin fails"
![untitled](https://cloud.githubusercontent.com/assets/6759416/12994409/4349f694-d0d5-11e5-9cf2-e7cee2d4ed52.jpg)
![untitled](https://cloud.githubusercontent.com/assets/6759416/12994452/a8ceda16-d0d5-11e5-8c7f-04e78d237641.jpg)

[2016-02-11 23:41] bcipolli commented on #204
This is due to assumptions in the constructors that backwards look-ups should work. They will not if all values are `None`. Simple fix is to check for `None` in the constructor, and if so do nothing.

[2016-02-14 18:59] bcipolli commented on #81
How about this for a design:
- Data for past years are downloaded in full, and cached as CSV files. If those CSV files exist, the download is skipped.
- Data for current years are downloaded incrementally, a la https://github.com/caciviclab/disclosure-backend/issues/125

Alternately, we could make all downloads incremental, a la https://github.com/caciviclab/disclosure-backend/issues/125.

[2016-02-14 19:00] bcipolli commented on #191
This is fixed in PR #201 . Afterwards, we will need people to make these edits in production.

[2016-02-15 15:10] bcipolli opened #207 "Resolve questions / issues with Netfile feeds"
This is an issue to track outstanding questions from the Netfile folks.

**Data feed questions:**
- Different endpoints on the same data have drastically different schemas (field names, as well as fields available, e.g. [ByYear](https://netfile.com/Connect2/api/swagger-ui/#!/public/ByYear) vs. [Query](https://netfile.com/Connect2/api/swagger-ui/#!/public/Query)). Can we resolve this?
- City names

[2016-02-15 15:22] mikeubell commented on #207
The data is just what the filer entered.  As far as I know neither netfile nor the receiving agency do any validation.  I doubt there are really foreign zip codes. They are more likely just data errors.

[2016-02-17 05:28] adborden commented on #12
@bcipolli Maybe I just never noticed, how does the user enter the `change_message`? Can we make that required and also automatically include the fields that were modified so that we're not entirely dependent on the user being correct in the change message?

[2016-02-17 07:23] adborden commented on #41
I have this running on my own machine via 6 hour cron:

[code]

[2016-02-17 13:43] bcipolli opened #208 "Migrate to Django-based cron jobs"
If we install a Django app, such as https://bitbucket.org/wnielson/django-chronograph/, we can install cron jobs as fixtures and query results as models.

I believe this would simplify our server setup workflow. It would also reduce our code footprint--we could eliminate our custom `cron` Django app.

Thoughts?

[2016-02-17 13:47] bcipolli commented on #12
The entire thing is automatically generated, no user component.

It would be much easier to auto-generate the entire message. We can add the field names (and before/after values) pretty easily.

Getting a user `change_message` would be nice, but I don't see a simple way to do it. Can we get away with auto-generated messages?

[2016-02-17 22:16] dmontgomery commented on #207
@mikeubell is correct.  The .CAL e-filing specification does not validate content for accuracy.  Things like zip codes and names are butchered all the time by filers.

The only possibility of correction would be for the receiving agency to require the filer to submit an amendment to the filing(s) in question.  The filer is required to respond to amendment requests, but I've never come across an ag

[2016-02-17 22:19] dmontgomery commented on #207
On a more general note, NetFile does not currently provide any data normalization services for e-filed content.

[2016-02-18 01:50] adborden commented on #208
It manages it's [own logs](https://django-chronograph.readthedocs.org/en/latest/overview.html#cleaning-out-old-job-logs), too? Neato.

[2016-02-22 03:56] bcipolli commented on #195
Haven't heard back on this, it's just one line of code, and it was useful to me tonight, so assigning to me. Will push a fix for this shortly.

[2016-02-22 03:59] bcipolli commented on #192
Perhaps `ZipCode` should not be included in `Locality`?

[2016-02-22 04:10] bcipolli commented on #192
Same here: this is causing me problems tonight, haven't heard any updates, and it's a small fix--so should have a PR up shortly.

[2016-02-22 04:19] bcipolli commented on #204
This was fixed and merged.

[2016-02-22 04:19] #204 closed, assigned to bcipolli

[2016-02-22 04:23] bcipolli commented on #207
Thanks @dmontgomery ! Followed up via email on the endpoint schema differences; for the rest, we'll do our best to represent those data in reusable ways in our app!

[2016-02-22 04:25] bcipolli commented on #81
I am happy with the current ability of the commands to handle this, so will close.

[2016-02-22 04:25] #81 closed, assigned to bcipolli

[2016-02-24 03:50] jnmarcus opened #215 "deploy additional branches of api to remote endpoints"
this would help speed up frontend development significantly and will eventually be necessary once we are ready to "release" an official version of the site to the public.  Having at least something like "stable" and "unstable" on an initial basis, would be great.

I'm happy to help with this, but have no information on where the backend resides, and what that setup is like.  @tdooner @adborden wou

[2016-02-24 05:09] jnmarcus opened #216 "something's off with the swagger base url..."
**Scenario 1:**
a) referencing: http://admin.caciviclab.org/docs/api-docs works.  I get:

[code]

b) referencing: http://admin.caciviclab.org:80 does not work.  I get a Cron Status back.

**Scenario 2:**
a) referencing: http://admin.caciviclab.org/docs/api-docs/locality/4 I get a partial chunk of the response I got from calling just http://admin.caciviclab.org/docs/api-docs ,  but it has some new

[2016-02-24 05:19] jnmarcus commented on #216
the following is the Cron Status I get when calling http://admin.caciviclab.org:80, in scenario 1.b) above.  (headsup: it's really long)

[code]

[2016-02-24 15:16] #192 closed, assigned to bcipolli

[2016-02-24 15:30] bcipolli commented on #203
Let's close this for now. I will keep an eye on this moving forward.

[2016-02-24 15:30] #203 closed, assigned to bcipolli

[2016-02-24 15:32] bcipolli opened #218 "Add Form 460 schedule C data"
See https://github.com/caciviclab/caciviclab.github.io/wiki/Campaign-Finance for details.

[2016-02-24 15:32] bcipolli opened #219 "Add Form 497 data"
See https://github.com/caciviclab/caciviclab.github.io/wiki/Campaign-Finance for details.

[2016-02-24 15:33] bcipolli opened #220 "Add Form 496 data"
See https://github.com/caciviclab/caciviclab.github.io/wiki/Campaign-Finance

[2016-02-24 15:36] bcipolli opened #221 "Add reporting period information"
These need to be entered manually, for each form, so we know how to properly combine data.

[2016-02-24 15:37] bcipolli commented on #221
We have a model for this (`ReportingPeriod`, in `finance/models.py`), the data simply need to be entered into the admin panel.

[2016-02-24 15:38] bcipolli opened #222 "Use ReportingPeriod to select / eliminate campaign finance information"
See https://github.com/caciviclab/caciviclab.github.io/wiki/Campaign-Finance for details.  Depends on `ReportingPeriod` data needed from #221.

[2016-02-24 15:40] bcipolli commented on #218
#218 #219 #220 should all be able to use the same Netfile data, but simply filter on different forms.

e.g. https://github.com/caciviclab/disclosure-backend/blob/master/finance/management/commands/xformnetfilerawdata.py#L436

So these may be able to reuse logic, but we need to step through those data manually to make sure the form 460A logic is applicable, and that filtering of committee type is o

[2016-02-24 15:45] bcipolli commented on #215
@jnmarcus right, great idea!

I think we can do this by having the "stable" (should be `master`) branch pushed to `admin.caciviclab.org`, and any unstable branch (an official one, say `develop`) is simply in the repo. Then you can simply check out the latest `develop` on your local machine, and point your front-end to that.

To set up a local version of the backend on your machine, just follow the

[2016-02-24 15:48] bcipolli commented on #216
@jnmarcus I'm not sure the expectation for your scenario 1. The two URLs are different, so you get different results. In one case you point at the API docs, the other you point to the admin homepage. Can you be explicit about what you expect to see in 1a vs. 1b?

[2016-02-24 16:45] bcipolli commented on #222
Because we have the netfile xaction ID and a treasurer-reported ID, it's possible that we can simply skip reloading rows (rather than delete them), or modify/update them (in case $$ amount changed, or simply to report that the data were pulled from form 460A instead of 497, for example).

So, this could wind up being trivial.

[2016-02-24 17:40] bcipolli opened #223 "Get old ballot data from Netfile feed"
Looks like some ballot info is in there for 2014 data at least. Found info using `row['form_Type`] == 'F497P1'`, when`row['entity_Cd'] in ['CAO, 'BNM']`.  CAO=> candidate info, BNM=> ballot measure info.

[2016-02-25 05:14] jnmarcus commented on #215
@bcipolli as long as every time someone merges something into the unstable branch, it doesn't get pushed to the 'stable' branch, that works for me.  As far as where the stable branch is pushed to, as long as it's a remote, that's kool.  In general, from a usability standpoint,  I wonder if it makes sense to have things related to the api pushed to `api.caciviclab.org` so that we can differentiate

[2016-02-28 21:19] #191 closed, assigned to bcipolli

[2016-02-28 21:19] #218 closed, assigned to bcipolli

[2016-02-28 21:19] #219 closed, assigned to bcipolli

[2016-02-28 21:19] #220 closed, assigned to bcipolli

[2016-02-29 14:39] bcipolli commented on #215
I created a `develop` branch, and made it the default--so new PRs will target `develop` by default.

We can merge `develop` to `master` when we see fit. This way, `master` can be used to deploy to the public server anytime.

[2016-02-29 16:27] #215 closed, assigned to bcipolli

[2016-02-29 16:29] bcipolli commented on #195
This was fixed in #212

[2016-02-29 16:29] #195 closed, assigned to bcipolli

[2016-02-29 16:30] bcipolli commented on #207
We got answers for most things here. I've emailed @dmontgomery with questions for specific issues ( #49, #125). We can close this.

[2016-02-29 16:30] #207 closed, assigned to bcipolli

[2016-03-01 03:41] #154 closed, assigned to bcipolli

[2016-03-05 02:45] bcipolli commented on #11
Don't need this for the April demo, but definitely for the first true public milestone.

[2016-03-05 02:47] bcipolli commented on #14
Given the current setup, I don't believe we need a new object; it's already in `Beneficiary`. Manual annotations are recorded in `LogEntry` objects.

The manual work remains.

[2016-03-17 13:07] bcipolli commented on #94
I don't think we need this for our demo.

[2016-03-17 13:07] bcipolli commented on #116
Again, I don't think we need this for our demo. Punting.

[2016-03-17 13:08] bcipolli commented on #196
Fixed by #234

[2016-03-17 13:08] #196 closed, assigned to MrMaksimize

[2016-03-17 13:08] bcipolli commented on #222
This is actually non-trivial. Chatted with @andrell81 , have some good ideas on how to get this done.

[2016-03-27 17:48] bcipolli commented on #14
I think we have this in our schema, and this can be input currently in the admin database. Incidentally, this data is somewhat available in the Form 496 data, and I will try to pull some from there, when available.

[2016-03-27 17:55] #14 closed, assigned to nobody

[2016-03-27 17:57] bcipolli commented on #125
I am satisfied for the current RC with our current workflow: force-redownload the 2016 data (slow), then skip rows of transactions previously loaded (fast). Will punt this to the next RC, to try and find a download endpoint that only has new data.

[2016-03-30 04:36] elinaru opened #236 "Getting "Server Error (500)" from Django Admin"
When doing the following actions (and perhaps others), I'm getting a "Server Error (500)"
when logged into http://admin.caciviclab.org/admin/ -->

Viewing: Ballot item selections
Viewing: Ballot items
Viewing: Referendums
Deleting item: Ballot
Adding: Candidate
Deleting item: City

I'm almost certain I'm not to blame.

[2016-03-30 05:15] bcipolli commented on #236
Hard to tell; the `master` branch is far behind the `develop` branch. The solution is to wrap up modifications on the `develop` branch and release to `master`. Hope to have that ready soon!

[2016-04-06 03:01] elinaru commented on #236
CC @tdooner

[2016-04-06 03:49] elinaru opened #237 "Update and annotate mock-ups"
Elina to update mock-ups
@jnmarcus to add API endpoints to components on mock-ups

[2016-04-06 04:00] elinaru commented on #237
@bcipolli -- FYI - this is coming!

[2016-04-26 07:27] jnmarcus opened #238 "'type' property of the api endpoint: 'locality/search/' returns null"
We need the `type` property in order to resolve the urls correctly from search.  Is it possible to have this added in sooner, rather than later?  Currently urls are resolving to `//{localeId}/{localeName}`, as a result.  (the `type` should go between the 2 backslashes at the beginning)

Also, just curious, why does it return the `type` at the endpoint: `/locality/{locality_id}` but not at `localit

[2016-04-27 04:07] elinaru commented on #236
Hey @bcipolli any progress in this? The "Server Error (500)" thing is still happening --

[2016-04-30 00:30] bcipolli commented on #236
Hi @elinaru , I will take a look at this over the weekend to validate the `develop` branch, and let y'all know if it's ready for `master`.

[2016-04-30 00:43] bcipolli commented on #238
Hi @jnmarcus ; will take a look at this over the weekend!

[2016-05-02 04:27] bcipolli commented on #238
It's due to the object type that's sent to the serializer.

Since we only have data on the city, we should only be returning results of cities. Getting this to work, however, is a really easy tweak. Will have this done tonight.

[2016-05-02 04:29] bcipolli commented on #238
Turns out that, since we limit queries based only on localities we have ballot data for, this naturally returns only cities for our dataset :)

![image](https://cloud.githubusercontent.com/assets/4072455/14947172/c2fc60fa-0fe3-11e6-88dc-93f9e1e02b1d.png)

[2016-05-25 21:00] elinaru commented on #237
Updated mock-ups can be seen here: https://github.com/caciviclab/caciviclab.github.io/wiki/Mock-ups

[2016-05-26 16:03] adborden opened #242 "Current ballot endpoint always returns ballot with id=1"
1. http://admin.caciviclab.org/docs/#!/locality/current_ballot
2. Enter an integer for `locality_id` (1, 31, 71)

Expected
You get a different ballot each time

Actual
You get the same ballot, ballot with id=1

[2016-06-02 03:27] adborden opened #244 "Encoding error when downloading data from netfile"
Could just be a hiccup, but it would be nice if the job continued.

[code]

[code]

[2016-06-02 03:30] adborden opened #245 "Continuous deployment via travis"
Deploy `master` to production via travis.

[2016-06-02 03:31] adborden opened #246 "Drop the develop branch"
As discussed in our May in-person meeting, let's ditch the `develop` branch. It's only causing extra headaches and not solving any problems for us.

[2016-06-02 04:23] adborden opened #247 "KeyError 'filingStartDate'"
The title isn't quite correct, I lost the stack trace, but have seen this KeyError pop up. Looks like Netfile has changed some fields and added some new ones. Here's a diff of the column headers between old and new csvs, sorted.

[code]

[2016-06-02 04:26] adborden opened #248 "Avoid using real data for tests"
Currently most of our tests uses real data for test setup https://github.com/caciviclab/disclosure-backend/blob/9abb457cdd209ef67ac5e0f22ea3c050637efc78/finance/tests/test_xformnetfilerawdata.py#L28

This makes the tests inconsistent from run to run and make them prone to breakage based on changes to production code. I'd prefer to mock this data out or use fixtures.

[2016-06-09 22:40] tdooner commented on #247
The stacktrace is actually what is breaking our import process in production:

http://admin.caciviclab.org/

[code]

[2016-06-09 22:41] tdooner commented on #246
I think you typo'd the title?

[2016-06-09 22:48] adborden commented on #246
Ha, yep.

[2016-06-23 15:48] adborden commented on #221
@sseiter assigning to you. Can you recruit someone from OO to find this information? If you stick it in a google spreadsheet, I can take it from there. Let's start with
- [ ] Oakland
- [ ] San Diego
- [ ] San Francisco

I was able to find [this pdf schedule](https://github.com/caciviclab/disclosure-backend/files/330339/Local-11-8-2016-Cand.pdf) on the SOS website, but I'm sure that each jurisdicti

[2016-06-23 15:49] adborden commented on #216
@jnmarcus is this sitll an issue for you?

[2016-06-23 15:56] adborden commented on #200
Can you provide more details? I feel like a dumb/simple approach is better than a smart/complex approach when it comes to disaster recovery.

I'd be afraid this would complicate the restore process. Right now it's a simple `gunzip backup.sql.gz | mysql` command to restore. If we're dealing with json paritals, how do you apply them once the schema has changed?

[2016-06-23 16:02] adborden commented on #182
If I understand this correctly, I'd like re-phrase this.
My assumption is that right now we already import all the jurisdiction data available and the only thing that needs to happen is to fix how we figure out the years to download. Rather than assuming a fixed list (currently), we should assume the current year, and allow the user to override the year with the `--year` flag.

[2016-06-23 16:03] adborden commented on #167
ping @tdooner @bayreporta

[2016-06-23 16:07] adborden commented on #166
This is actually very straight forward. The VIP provides [an XSD](https://github.com/votinginfoproject/vip-specification/blob/vip5/vip_spec.xsd) already, an there [are tools to generate Django models](https://pythonhosted.org/generateDS/#django-generating-models-and-forms) from the XSD.

Potentially spinning this off as it's own project might be useful (at least in a separate django app) because I

[2016-07-06 03:46] elinaru opened #250 "Make the committee endpoint queryable by locality and office"

[2016-07-06 03:52] elinaru opened #251 "Write import script that ingests candidate bios, measure text, into django"

[2016-07-06 03:58] elinaru commented on #221
@sseiter will do this!!

[2016-07-06 04:04] elinaru commented on #221
@mikeubell / Suzzane shared this PDF with Oakland deadlines on Slack -- https://opencal.slack.com/files/mikeubell/F1K3AAEUC/november_2016_oakland_elections.pdf

[2016-07-06 16:45] elinaru commented on #221
For the November 2016 Oakland election:

**Nominations period:** July 18, 2016–August 12, 2016. (If an incumbent chooses not to run, then the filing deadline for that seat shall be extended to August 17, 2016.)
**Deadline for ballot measures:** August 8, 2016

**Filing schedule:**
Aug. 1, 2016 Form 460 (all committees) deadline
Aug. 10–Nov. 8, 2016: Form 497 (contributions of $1,000 or more requir

[2016-07-06 18:07] mikeubell commented on #221
I worry about why we need this information.  A committee may file things
outside of the filing deadline.  How do we use the reporting period
information?
On Jul 6, 2016 9:45 AM, "Elina Ru" notifications@github.com wrote:

[2016-07-07 15:47] adborden commented on #221
@mikeubell the ReportingPeriod looks like

[code]

So, the current behavior as I understand it: we match a contribution based on date to a reporting period. Based on the `permanent` flag, old contributions are removed from the database. The idea is that the current totals are the only records saved. I don't think this behavior is really what we want in the long term. However I believe we _do_ need

[2016-07-07 15:50] adborden commented on #221
Oh, and I believe [this pdf](http://www2.oaklandnet.com/oakca1/groups/cityclerk/documents/marketingmaterial/oak057308.
pdf) linked from Suzanne's doc above describes how [these deadlines](https://github.com/caciviclab/disclosure-backend/issues/221#issuecomment-230833041) map to start/end dates. I suppose F460 is considered `permanent`, and F497 are not.

[2016-07-07 16:43] bcipolli commented on #221
That all sounds right, @adborden . I believe in SD, one use of F496 may give "permanent" data as well.

Note that in the form, there's a human-readable field, and then a "tag" field that maps onto the form ID within the Netfile system.

[2016-07-07 18:32] mikeubell commented on #221
So the ReportingPeriod are used to remove redundant information that was previously provided in a 497, when the 460 is processed?

In trying to figure out the code I see that a ReportingPeriod can be marked “permanent” or not.  So what is the reporting period for a 497?  They must be filed based on when the contribution is made, so there are an arbitrary number of reporting periods?

We have a rec

[2016-07-07 19:45] adborden commented on #221
cc @sfdoran

[2016-07-07 20:02] sfdoran commented on #221
The way @mikeubell put it is the way I understand it - all contributions/expenditures reported on a Form 497 must be reported on Form 460 for the next filing period.

Is there already a process to deal with amended Form 460s? I reached out to my contact at NetFile and he offered to arrange a conference call with one of their developers to discuss the processes that take place with amendments and h

[2016-07-07 21:12] mikeubell commented on #221
I would be interested in talking to the netfile developers.  I think I once looked in the netfile data to see about amendments and it appeared to me that they only have the most recent version.  I could be mistaken and it would certainly be good to know officially how the data is generated.

[2016-07-13 03:55] KyleW commented on #247
@monkeyHippies has offered to help with this. Seems like there's 2 tracts of work. The first is make the script run as is. The second is to potentially rethink the deduping strategy.

I'd suggest making the scripts work as is first while we discuss the longer term approach.

[2016-07-14 02:45] monkeyhippies commented on #247
Looking at @tdooner 's stack trace, the file `finance/management/commands/xformnetfilerawdata.py` seems to be different in production and master branch... Specifically, I can't find `row['filerId'].split('-')[0]` anywhere in master branch. Also, `agency_fn=lambda row: self.get_agency(` isn't found in line 369.

I'm new to django, so maybe I'm missing something?

I'm also having trouble reproducing

[2016-07-14 02:59] KyleW commented on #247
I've seen this error recently,  but I'm not near home box to verify. Check the develop branch?

I believe develop may be pretty far ahead of master.

[2016-07-15 01:47] mikeubell opened #252 "Removal of outdated records is not correct"
The code in xformnetfilerawdata.py starting at line 573 cannot be correct.  I depends on the date that the data actually processed.  Records are deleted if the current date is before or after the range of the reporting period.  If one were to run the data load near midnight two records from the same form could be handled differently if one was processed before midnight and one was processed after

[2016-07-15 16:19] KyleW commented on #252
I agree with Mike that we need some more thought here. There needs to be an interim solution, however there might be a chance for us to do something cool here.

Maybe, we come up with a way to score similarity between new records and old records and have a manual review for anything that looks reasonably close. Invite folks to tag some records as the same or not the same. It could be a cool way to

[2016-07-19 15:29] jeremyad commented on #250
The problem appears to be with line 28 of disclosure/urls.py:
`    url(r'^docs/', include('rest_framework_swagger.urls')),`
Simply removing this line eliminates the 500 error, but also gets rid of the (currently broken) documentation.

In a series of changes on June 7 (starting with [this commit](https://github.com/marcgibbons/django-rest-swagger/commit/c4eb8d89996572798bb46f258c8efc68e4860f84)),

[2016-07-19 15:45] KyleW commented on #250
Good find! That pr is tagged with v2.0.0a0 which [the release notes](https://github.com/marcgibbons/django-rest-swagger/releases) says has breaking changes. We probably didn't mean to pull that version in.

The easiest fix might be to point at an earlier, stable version and lock down our dependency so we don't accidentally grab latest.

[2016-07-19 16:42] mikeubell commented on #252
I chatted with David Montgomery @netifle.com.  He agrees that using the current time does not belong in duplicate processing. He said that a reasonable approach is to just check for duplicates on insert.  The transaction ID is unique within a filing and for those using netfile software to do the filings the transaction ID will be the same between a 496/7 transaction and the overriding 460 transact

[2016-07-19 16:43] bcipolli commented on #252
:+1:

[2016-07-20 00:57] KyleW commented on #216
I think this is still an issue. @jeremyad was talking about a fix over on #236 .

[2016-07-21 02:35] jeremyad commented on #236
Accidentally posted this in the wrong issue before.

The problem appears to be with line 28 of disclosure/urls.py:
`url(r'^docs/', include('rest_framework_swagger.urls')),`
Simply removing this line eliminates the 500 error, but also gets rid of the (currently broken) documentation.

In a series of changes on June 7 (starting with [this commit](https://github.com/marcgibbons/django-rest-swagger/co

[2016-07-21 03:48] bcipolli commented on #236
Sounds like an easy fix? Just update the `requirements.txt` file to an appropriate version?

[2016-07-21 03:52] bcipolli commented on #236
In the last build I used (worked), I had:
- `rest_framework` v3.3.2
- `rest_framework_swagger` v0.3.4

[2016-07-21 04:37] KyleW commented on #236
@jeremyad just pushed the change. Although it looks like it inadvertently went straight to master (8f676fd).  It's a pretty small change. Is everyone good with leaving the commit and closing the issue?

If we really want to keep the merge history clean we can revert it, cut a new branch, revert the revert on the new branch and open a pr from there. But I'm not sure it's worth it for this one.

We

[2016-07-23 00:45] jnmarcus opened #254 "Convert dates to standard ISO 8601 date/time string"
is it possible to convert dates to this format for the front-end to consume?  Otherwise we'll have to do a whole bunch of string manipulations for every date.  Just to format the strings as a date.  So that we can do something else with them afterwards...

[2016-07-23 02:35] bcipolli commented on #254
What about using https://www.npmjs.com/package/dateformat ?

[2016-07-25 11:12] jnmarcus commented on #254
@bcipolli it's not that we can't do it on the front-end.  Angular already has built in filters that allow us to change how the date looks, but it only accepts [ISO 8601](https://www.w3.org/TR/NOTE-datetime), because this is the most standardized.  We could use the native JavaScript date object, but that's not always consistent, (depending on the browser).   I could also strip out the slashes, form

[2016-07-25 11:49] bcipolli commented on #254
Gotcha, sounds good :+1:. Definitely the dates should be standardized when they are stored, and output in a standardized format :)

[2016-07-26 01:36] jnmarcus commented on #254
👍

[2016-08-14 19:52] #242 closed, assigned to adborden

[2016-08-14 21:38] jnmarcus opened #262 "Date for 'locality/current_ballot' endpoint returns null"

[2016-08-17 02:38] mikeubell commented on #252
This is fixed by pull #261

[2016-08-17 02:38] #252 closed, assigned to nobody

[2016-08-24 02:24] tdooner commented on #251
Finished by #269

[2016-08-24 02:24] #251 closed, assigned to mikeubell

[2016-08-24 21:04] mikeubell commented on #247
I believe this was fixed in my and/or Tom's commit last week.

[2016-08-24 21:04] #247 closed, assigned to bcipolli, monkeyhippies

[2016-08-24 21:07] mikeubell commented on #262
@KyleW Seems like this is related to #238.

[2016-08-24 21:08] mikeubell commented on #222
We have gotten rid of the reporting period information so this is obsolete.

[2016-08-24 21:08] #222 closed, assigned to bcipolli

[2016-08-25 02:25] adborden commented on #238
I think this is fixed, seeing `type` being returned with a value.

[2016-08-25 02:25] #238 closed, assigned to KyleW, haleyparty

[2016-08-25 02:32] adborden commented on #262
This is just data missing. We parse some of the ballot data from Netfile, but we've agreed that most of the ballot data will be manually entered, so I just entered it http://api.caciviclab.org/admin/ballot/ballot/

@tdooner this is going to be a problem if we are regularly resetting the DB. No one has access to the django admin anymore to see what I'm talking about.

[2016-08-26 03:16] tdooner commented on #262
Okay - I won't reset the database until we can get an automated system in place for importing this data. What data exactly did you enter? Was it stuff that `manage.py importoaklandcandidates` imports?

[2016-08-26 05:11] adborden commented on #262
On Thu, 2016-08-25 at 20:16 -0700, Tom Dooner notifications@github.com wrote:

Oh good call. Change this to 2016-11-08, and we've got it :)

https://github.com/caciviclab/disclosure-backend/blob/bug/current-ballot/finance/management/commands/importoaklandcandidates.py#L38

##

Aaron D Borden
Human and Hacker

[2016-09-17 19:04] adborden commented on #262
I'm going to call this fixed, the import script _does_ set an election date now. We're moving to the [static api](https://github.com/caciviclab/disclosure-backend-static) anyway, so the issue isn't relevant. Feel free to comment.

[2016-09-17 19:04] #262 closed, assigned to adborden, KyleW

[2017-02-22 21:43] sfdoran opened #274 "Add bar graphs with percentage of contributions from within Oakland, within CA, and from outside CA found on referendum page to candidate pages (from PEC Commissioner feedback)"

[2017-02-22 21:48] sfdoran opened #275 "Add a heat map of the city illustrating what % of the candidate's contributions come from each zip code (from PEC Commissioner feedback)."

[2017-02-22 21:50] sfdoran opened #276 "Add comparison of candidate's average donation size versus other candidates for the same office (PEC Commissioner feedback)."

[2017-02-22 21:54] sfdoran opened #277 "Add a map that shows contributions for that zip code or district compared to the rest of the city, average contribution size, and how much the residents have given to each candidate in a particular race, compared to the rest of the city. (Feedback from PEC Commissioners)"

[2017-02-22 22:05] sfdoran opened #278 "Show patterns of contributions by industry (feedback from PEC Commissioners)"

[2017-11-15 21:09] sfdoran opened #279 "Contribution & expenditure data prior to 2016 missing from calculations"
See campaigns for Jody London, Rebecca Kaplan, Lynette Gibson-McElhaney, and Roseann Torres

McElhaney & Kaplan did significant fundraising & spending in 2015.

I did not include 2017 statements in my calculations, so the totals may change when those are included as well.

Spreadsheet attached.
[Summary totals 2016 election (updated thru 11.9.17).xlsx](https://github.com/caciviclab/disclosure-back

[2017-11-15 21:25] sfdoran opened #280 "Need to exclude data for officeholder accounts from campaign totals"
Larry Reid and Lynette Gibson-McElhaney changed their campaign committees to Officeholder committees in the midst of a reporting period.

Transactions after they filed the change should be excluded/subtracted from the campaign totals.

Larry Reid for Council 2016 Officeholder Committee	FPPC ID 1387905	re-designated	12/19/2016
Lynette Gibson-McElhaney 2016 Officeholder Committee FPPC ID 1375179 re-

[2017-11-15 21:43] mikeubell commented on #280
Is there a particular form that records this transition?

[2017-11-15 21:59] sfdoran commented on #280
It's lame. All they need to do is rename the committee using the FPPC Form 410 and add "Officeholder" somewhere in the new name.

What makes it really confusing is when they file their next 460, there is no distinction for transactions before and after the new name.

I'm thinking about OCRA amendments to deal with this issue - e.g. making them terminate the campaign committee first. Also a on my N

[2017-12-03 22:30] mikeubell commented on #279
There is corruption in the 2015 data.  Note that the record for MUTIU is missing fields but is ok in the PDF.
![filing](https://user-images.githubusercontent.com/6759416/33530583-706b18e6-d836-11e7-93c7-c2c373afd6b8.jpeg)
![mutiu](https://user-images.githubusercontent.com/6759416/33530584-70845a18-d836-11e7-84c9-e6c99c8f62a1.jpeg)

(Also this issue should be in backend-static not backend, wonder i

[2017-12-03 22:50] mikeubell commented on #280
moved to backend-static

[2017-12-03 22:50] #280 closed, assigned to tdooner, mikeubell, sfdoran

[2017-12-03 22:50] mikeubell commented on #279
moved to backend-static

[2017-12-03 22:50] #279 closed, assigned to tdooner, mikeubell, sfdoran

[2018-04-30 16:20] caiki commented on #18
Gracias tdooner , funciono!!!